[2015-10-05 06:35] jancborchardt opened #1 "Make sure it properly works offline"
It’s very important that taking and reading notes works flawlessly even when in a train, on a plane or when just generally offline. All changes can then be synced when online again.

[2015-10-05 06:35] jancborchardt opened #2 "Render markdown inline"
Just like the Notes web app, Markdown should render inline. Not with a dedicated view, but like iA Writer does with the special characters still showing (although subdued in grey).

cc @Henni who implemented this for the web app side.

[2015-10-05 06:37] jancborchardt opened #3 "Make note directly editable"
Currently it looks like when you are in a note you have to click the edit icon in the bottom right to edit it. This complicates the flow. Instead the note should be in edit mode directly, just like the web app.

[2015-10-05 06:38] jancborchardt opened #4 "ownCloud is incorrectly capitalized"
It’s »ownCloud« with small o at the beginning, not »OwnCloud«. ;)

[2015-10-05 06:40] jancborchardt opened #5 "Simple widget for individual note"
Currently one of the main reasons I use my phone is the very simple [Jot notes widget](https://play.google.com/store/apps/details?id=com.simplidget.jot) unfortunately it’s not being developed anymore and doesn’t sync …

It would be great if it’s possible to add a widget to the homescreen which looks similarly simple as Jot, but can be connected to a note synced with ownCloud Notes. One could choos

[2015-10-05 06:44] jancborchardt opened #6 "Show Excerpt instead of Modified Date in List-View"
Right now the modified/creation date is focused a lot, in the list and in the header.

In the list it would be cooler to show the next line of the note (maybe even the next 2) to see more of the note. It’s sorted by date anyway so it’s not as important.

[2015-10-05 18:21] #4 closed

[2015-10-05 18:25] stefan-niedermann commented on #6
There should be an API on Server-Side to generate an excerpt (15 - 20 words?). So every client could display the same text. It should not be generated in the app itself.
https://github.com/owncloud/notes/issues/163

[2015-10-05 18:26] stefan-niedermann commented on #6
@jancborchardt please move second part (Headers between list) to a seperate issue.

[2015-10-05 18:31] stefan-niedermann commented on #1
Current behaviour:
Reading and editing works offline without any problems. Even creating works. But there's the problem: The title is generated by the server (if you create a note offline, the title is empty until the next synchronization).
So - here are some ideas for this problem:
* Duplicate Server-Side Code to create title (don't like it much - i will have to adjust every time when server code

[2015-10-06 06:43] stefan-niedermann opened #8 "Tablet Layout"
![mockup](https://cloud.githubusercontent.com/assets/4741199/10301812/5b58bc4a-6c06-11e5-9223-1d639db059b9.png)

[2015-10-06 06:45] stefan-niedermann opened #9 "Links in About-Page not clickable"
The Links in the About-Page are currently not clickable. I had two ideas, but none of them worked for me:
* Use String Resources with Hyperlinks (Markup)
* Use WebView with String Resources

[2015-10-06 06:46] stefan-niedermann opened #10 "Mention Material Design Icons on About-Page"
Because they are CC-BY-Licensed and even if Google says "It would be nice but it is not necessary to mention us" we should do it.

[2015-10-06 06:47] stefan-niedermann opened #11 "Change App-Icon to ownCloud Notes Logo"
The App-Icon should be identical to the ownCloud Notes Logo.
@jancborchardt - would you like to take this one?

[2015-10-06 07:32] stefan-niedermann opened #12 "Time Headers in List-View (Today, Yesterday, ...)"
Maybe headers in the list between the notes make sense like:
* Today
* Yesterday
* This week
* This month
* Earlier

Originally reported from @jancborchardt.

[2015-10-06 09:12] stefan-niedermann opened #13 "Publish App on F-Droid"
Would be great if someone could help me with F-Droid Publish. I already tried it, my results are here: https://f-droid.org/forums/topic/owncloud-notes/
Thanks for Contribution.

[2015-10-06 09:17] stefan-niedermann opened #14 "Handle internationalization"
Currently translations are only available for English and German. I think we should open a transifex-repo for translations. If anyone speaks another language native, he is welcome to create a pull-request until this is done.

[2015-10-06 20:52] #6 closed

[2015-10-06 20:58] jancborchardt commented on #12
Huh, where did my original issue go? :D

[2015-10-06 20:58] jancborchardt commented on #1
What do you think @Henni @Raydiation @LukasReschke?

[2015-10-06 20:59] jancborchardt commented on #13
You just have to add it as a text file here: https://gitlab.com/fdroid/fdroiddata/tree/master/metadata

Not sure how the pull request process works with Gitlab there though.

[2015-10-06 20:59] jancborchardt commented on #4
Thanks! Also please fix it in the F-Droid submission.

[2015-10-06 21:01] #10 closed

[2015-10-06 21:01] jancborchardt commented on #8
Roughly yeah. Basically just adapt the ownCloud Notes web app layout. Ideally the sidebar could be hidden (standard Android sidebar) so one can focus on writing.

[2015-10-06 21:02] jancborchardt commented on #8
Also, we might even think about getting rid of the header so there’s more space for the notes. Or having it in a way that the header vanishes when scrolling down. Not sure what’s the best pattern there. cc @tobiasKaminsky @stoyicker @AndyScherzinger

[2015-10-06 21:03] jancborchardt commented on #11
Yeah, can do. Also need to fix that for the Notes web app favicon anyway. cc @Henni @Raydiation @owncloud/designers

[2015-10-06 21:04] jancborchardt commented on #14
Yeah, maybe we should even move this repo as »owncloud/notes-android« to the main ownCloud organization on Github to more easily handle translation and contributions. What do you think @stefan-niedermann?

cc @DeepDiver1975 @Henni @Raydiation

[2015-10-06 21:09] stefan-niedermann commented on #12
take this one ;) #6 i split it up because they were in fact two different tickets.

[2015-10-06 21:15] stefan-niedermann commented on #13
Well, i tried it. but you have to clone fdroiddata (which you have to fork at first to your own gitlab account) and fdroidserver and you have to build the app locally with their developer tools (which didn't work for me, ruby threw errors an laughed at me...).

so really: i have very little time. if i had more, i would try to figure out how F-Droid works, but for now i will focus on the developmen

[2015-10-06 21:34] AndyScherzinger commented on #8
Full ack on both ideas. Using a toolbar instead of a action should allow this effect which can also be seen in the play store app and series guide.

[2015-10-06 21:35] Henni commented on #1
I think duplication is the way to go. At least this is how we solve it in the notes app.
This is important because even if you are online, the server takes about 2 seconds to respond (even on localhost).

[2015-10-06 21:38] jancborchardt commented on #13
Ah, really? I didn’t need to do that back a year ago or so when I added my last app there. Maybe @ciarang of F-Droid can shed light on the situation – is it the correct approach?

[2015-10-06 21:38] jancborchardt commented on #12
Right, thanks! :)

[2015-10-06 21:53] enoch85 opened #15 "Make a widget for all Notes"
Hey @stefan-niedermann, cool app.

Would be awesome if you could enhance this app with a widget. Then I would start using it as my new standard app for Notes. :)

[2015-10-06 21:57] stefan-niedermann commented on #15
Thank you :) What do you expect from a widget?
@jancborchardt suggested a widget that displays exactly one selected issue (#5). Would this be enough for you or do you mean something more powerful?

[2015-10-06 22:19] enoch85 commented on #15
I'm currently using this app (https://play.google.com/store/apps/details?id=org.dmfs.tasks) as a Notes widget that syncs with the Tasks app through CalDav/CARDav. It's nice, but too much information, and Notes isn't Tasks.

So what I'm looking for is very simple, and maybe a combination of @jancborchardt suggestion and the tasks widget I'm using right now.

Something like this:

![image](https://c

[2015-10-07 06:31] stefan-niedermann commented on #1
https://github.com/owncloud/notes/blob/master/service/notesservice.php#L180-L210
[code]

[2015-10-08 13:10] stefan-niedermann commented on #5
A very basic Prototype has been implemented in 723f843f2f7b2058b32f17fc2cbc872190d61ac9

[2015-10-09 11:03] stefan-niedermann commented on #8
:-1: for both ideas. why hiding the left list with notes? then we would have the same situation as now again^^. the idea of a seperate tablet layout was to provide him a quick way to navigate since he has more space as on a mobile device. why hiding the header? this is not a mobile phone browser - the header contains essential actions like share, delete, copy, ... also it's a well-known ux on andr

[2015-10-09 12:51] AndyScherzinger commented on #8
Hmmm, would have to think a bit more and harder about this especially differentiating between portrait and landscape mode. I was looking at the notes app from a "reader" point of view so when scrolling down hiding the action bar for large context makes sense to me, when the focus is rather navigation between items and interaction with it than I don't see an immidiate need to hide the action bar wh

[2015-10-10 01:33] jancborchardt commented on #8
Because having the space for it does not mean we should show it. Taking notes, or writing, is also about having the free mental space to focus fully on the note at hand and not being distracted.

[2015-10-10 01:37] jancborchardt commented on #15
I would say both widgets have their place, although I think widgets which just replicate apps are rarely useful. I’d definitely say the single note widget to be able to very quickly note down stuff inline (without needing to jump into the app!) is essential. Try and install JOT as I mentioned in #5.

[2015-10-10 01:38] jancborchardt commented on #5
@stefan-niedermann sweet as! Let me know when I can test via .apk or from F-Droid. :)

[2015-10-21 17:08] stefan-niedermann opened #16 "Replace Anddown with Bypass"
Fixed in https://github.com/stefan-niedermann/OwnCloud-Notes/commit/b1a24fd4033813f7733966e9af1326a31fb71c3f and https://github.com/stefan-niedermann/OwnCloud-Notes/commit/f9a2efc6929597635abd5912f956e993cb23903e

[2015-10-21 17:08] #16 closed

[2015-10-21 17:28] stefan-niedermann opened #17 "Open Note on Click on Single Note Widget"
Clicking the Single Note Widget should open an Activity displaying the configured Note.

[2015-10-21 17:30] stefan-niedermann commented on #13
Status Update: I replaced the Anddown Dependency with Bypass (#16) which could help to provide the App more easily on f-droid. let's see.... :)

[2015-10-21 17:32] stefan-niedermann opened #18 "Provide Preview Images for Widgets"

[2015-10-22 15:04] stefan-niedermann opened #19 "Local Search"
- In the ListView top right should be a search icon
- Clicking it should expand it to a searchbar.
- Typing should directly search in the background and display search results in a list

[2015-10-22 18:15] pejakm commented on #14
There's also https://weblate.org.

[2015-10-22 20:58] jancborchardt commented on #14
@pejakm we already use Transifex for the whole of ownCloud since the beginning: https://www.transifex.com/projects/p/owncloud/

[2015-10-22 21:18] jancborchardt opened #21 "Problems during log in process"
I have yet to successfully log in because the process is a bit opaque. Here’s some first feedback :)

- [X] »URL« should be called »Server address« (less technical)
- [x] not sure if I need to type in http/https – it should work without any protocol prepended, and try with https by default
- [x] the OK button should be called »Connect« and have a spinner after clicked, and say »Connecting«. Also t

[2015-10-22 21:23] jancborchardt commented on #21
Update:
* I found out you need to press the bottom »back« button to get the notes view! :D When the connection is successful, of course you should automatically be directed there
* there was an error at the bottom (obscured by the Back/Home/Apps buttons) saying »URL Malformed«. Very strange technical message which doesn’t tell me what exactly the problem is. Can the server not be reached? Is http/

[2015-10-22 21:25] jancborchardt commented on #21
And yeah, the last thing you already mentioned and which should definitely be fixed is autoloading the notes list on first connection instead of requiring a manual pull to refresh.

@stefan-niedermann hope the feedback helps! :)

[2015-10-22 21:30] jancborchardt commented on #17
Even better, it should open an inline display of the note, automatically open a keyboard and focus the note so you can directly type away. Like in the [Jot notes widget](https://play.google.com/store/apps/details?id=com.simplidget.jot).

[2015-10-22 21:43] pejakm commented on #14
@jancborchardt I'm aware of this, I'm a member of Serbian translation team for ownCloud. But I missed your comment (sorry!) about moving this project to `owncloud` organization. In this case it would be akward not to use Transifex.

[2015-10-22 21:51] stefan-niedermann commented on #17
Since i have problems with the very limited Widget API i would prefer to do small steps to learn more about the Widget API. second step could be inline editing.

[2015-10-22 21:52] jancborchardt commented on #14
@pejakm ah cool, thank you for your translation work then! :)

[2015-10-22 22:20] stefan-niedermann commented on #21
The checkmark right next to the server address field indicates if the server is reachable. it is not possible to detect if there is a running owncloud instance (because every instance responds different depending on the installed theme). so if you type: "google.de" the checkmark will appear. if you type "google." - the checkmark will disappear.

[2015-10-23 04:11] jancborchardt commented on #21
Isn’t there a version.php or status.php we can check for that correctly? @DeepDiver1975 @davivel?

[2015-10-23 04:11] jancborchardt commented on #21
Awesome on the fixes! :)

[2015-10-23 04:12] jancborchardt opened #22 "Sort by recently modified"
The current sorting is a bit strange. Initially it seems to be alphabetically, but then it’s not lower down.
Should simply be sorted by most recently modified up top, just like in the Notes web app. :)

[2015-10-23 04:13] jancborchardt opened #23 "New note from mobile doesn’t use first line as title"
This looks strange in the notes list as well as in the header, where the titles are simply missing.

[2015-10-23 04:13] jancborchardt opened #24 "Line breaks ignored"
It seems that line breaks are ignored, or turned into simple spaces sometimes.

[2015-10-23 04:15] jancborchardt opened #25 "Date sometimes wrong"
On some notes from the server, the time shown in the detail view is `01.01.1970 12:00`. This should of course show the correct time.
Even better: Show the relative date, like »yesterday«, »2 days ago« etc.

[2015-10-23 04:16] jancborchardt opened #26 "Autosave"
Currently you need to explicitly press the confirmation checkmark in the top right. Much better would be autosave how we do it in the online Notes app and the texteditor. Save on exiting a note, or 1 second after typing has stopped (right @Henni @tomneedham?)
That would eliminate the need for the confirmation checkmark completely. Additionally we should scrap the cancel X because it is quite close

[2015-10-23 04:16] jancborchardt commented on #3
Additionally:
Editing starts at the bottom of the note. Instead I want to scroll to whichever part I’d like to edit and click there and just edit. The note which is loaded should already be in a textarea.

This also corresponds to autosave: https://github.com/stefan-niedermann/OwnCloud-Notes/issues/26 to simplify the modes which exist in the app. There should be just 2: list and note detail. But n

[2015-10-23 04:20] jancborchardt opened #27 "Widget look"
Just as a comparison, here’s how our widget (bottom) looks vs the [Jot widget](https://play.google.com/store/apps/details?id=com.simplidget.jot&hl=en) (top):
![img_20151023_171450](https://cloud.githubusercontent.com/assets/925062/10684469/10b89d84-79aa-11e5-9b53-be43297e642f.jpg)
- Seems that the background for ours is a tad blue? Should probably be just black/grey and 50% (or 70%) opacity.
- Fon

[2015-10-23 07:11] stefan-niedermann commented on #25
Fixed in https://github.com/stefan-niedermann/OwnCloud-Notes/commit/3f11bdd181fc7ef914e6329ca7082cb56e49a69d and https://github.com/stefan-niedermann/OwnCloud-Notes/commit/848ccfd31679f62826765b122d715737b53627d3

[2015-10-23 07:11] #25 closed

[2015-10-23 07:13] stefan-niedermann commented on #1
Closing in favor of #23 (more clear title)

[2015-10-23 07:13] #1 closed

[2015-10-23 07:14] stefan-niedermann commented on #23
https://github.com/owncloud/notes/blob/master/service/notesservice.php#L183-L215

[2015-10-23 07:23] stefan-niedermann commented on #27
- Can you please provide a exact color in rgba style?
- Should we change to OpenSans?

[2015-10-23 07:24] stefan-niedermann commented on #22
Should be fixed in https://github.com/stefan-niedermann/OwnCloud-Notes/commit/5ba881c783d8e5f86d90832c1c4d137e23ee6e2b

[2015-10-23 07:24] #22 closed

[2015-10-23 08:05] stefan-niedermann commented on #21
Thank you for the hint. App checks now for status.php https://github.com/stefan-niedermann/OwnCloud-Notes/commit/8c23698546f48d3839cccce187e8b8a515c80a3c

[2015-10-23 08:29] jancborchardt commented on #22
Yeeeha!

[2015-10-23 08:33] jancborchardt commented on #27
* Let’s go with straight up rgba(255,255,255,.5) – black with 50% opacity. We might need to increase the opacity a little if we find there are visibility problems with some backgrounds.
* Good question on the font, probably regarding the whole app. Can you change to OpenSans Light + Semibold and check how it looks like in the app?

[2015-10-23 08:34] jancborchardt commented on #1
Does note deletion work without any issues?

[2015-10-23 08:54] #23 closed

[2015-10-23 09:56] stefan-niedermann commented on #1
Yyyep. at least for me or did you notice any problems?

[2015-10-23 10:17] stefan-niedermann commented on #27
Is this also the default for the ownCloud (Files) app?

[2015-10-23 12:26] #12 closed

[2015-10-23 19:50] jancborchardt commented on #27
No, not yet. But might be something worth doing if our experiment with it here looks nice. Of course no priority. What do you think?

[2015-10-23 19:51] jancborchardt commented on #1
Not yet. Cool! :) As soon as the widget ist linled to the note on click (opening in the app is fine for first pass) I will uninstall Jot and use this full-time.

[2015-10-23 20:27] stefan-niedermann commented on #27
well first some technical problem: i did'nt find a way to change font-family global in style yet, only programatically - which i dont't want.
second: i personally dislike the thin font because it's hard to read - there is an issue in core, too.

let me think about it. i will keep you updated.

[2015-10-24 08:35] #17 closed

[2015-10-24 20:25] jancborchardt opened #28 "Note »Copy« function really needed?"
In the note detail actions there’s a »Copy« function. @stefan-niedermann did you build that in because you need that regularly? Because next to Share and Delete it seems a rather uncommon action for a whole note. And it would be cool if we start with the bare minimum in this app and only add stuff if really needed.

[2015-10-24 20:26] jancborchardt opened #29 "Date and date header improvements"
* [x] The first date header doesn’t need to be shown – it creates too much visual clutter which takes away focus from the first notes.
* [x] The word »Updated« in each header is redundant. It’s enough to write »Yesterday«, »This week«, »This month« etc.
* [x] Because we have these date headers _and_ the sorting by date, I would not even show the relative dates or time in this list. It takes away f

[2015-10-24 20:26] jancborchardt opened #30 "New note gets sorted all the way down in the list"
When you create a new note from the app and go back to the list, it’s nowhere to be found. Then you scroll all the way to the bottom and se the »Updated recently« section all the way down. To make it appear up top you have to manually refresh.

Instead it should automatically be sorted up top as it has the newest date.

[2015-10-24 20:27] jancborchardt commented on #24
The same issue occurs in the widget. Line breaks are not preserved. This makes for a very strange reading and editing experience, actually looking broken and making me not sure if I should use the app on that note in order to not mess up formatting completely.
It’s one of the biggest remaining issues atm @stefan-niedermann :)

[2015-10-24 20:28] jancborchardt commented on #27
Already looks much more awesome! :) Just one real issue left for now:

* [ ] Currently the widget with a height of 1 shows 4 1/2 rows. That makes the text quite tiny and difficult to read. Instead it should show 3 1/2 rows of text.

[2015-10-24 20:38] jancborchardt opened #31 "Most important issues for first basic release and further promotion"
When these issues are fixed, I’d say the app can be promoted further like on the user at owncloud mailinglist, Twitter etc and be put on F-Droid. :)

* [x] Problems during log in process #21 / Autoload notes list on first connection #32
* [ ] Make note directly editable #3
* [ ] Line breaks ignored #24
* [x] New note gets sorted all the way down in the list #30
* [x] Autosave #26

What do you thin

[2015-10-24 21:50] Kernald commented on #30
I'll take a look at this!

[2015-10-24 22:06] Kernald commented on #30
@stefan-niedermann would you mind if I replace the `ListView` by a `RecyclerView`?

[2015-10-25 06:56] stefan-niedermann commented on #30
your help is welcome :) will there be problems with `RecyclerView`? E. g. i read `RecyclerView` does not have `onItemClickListener()`?

[2015-10-25 07:02] Kernald commented on #30
Well you obviously have other ways to achieve this. A list without being
able to click on items would be pretty useless ;-) You can set listeners on
view holders, for example.

The only thing I never made (yet) with a `RecyclerView` is sections, but
there's a first time to everything!

Le dim. 25 oct. 2015 07:56, Niedermann IT-Dienstleistungen <
notifications@github.com> a écrit :

[2015-10-25 08:32] jancborchardt commented on #30
@Kernald woo, awesome to have you contribute!

[2015-10-25 08:34] stefan-niedermann commented on #28
Well, it works fine and it does not hurt :) i don't use it often, but is already implemented so why remove it?

[2015-10-25 08:35] #29 closed

[2015-10-25 08:36] stefan-niedermann commented on #30
@Kernald yeah, cool :) i'm looking forward to your PR

[2015-10-25 08:37] stefan-niedermann commented on #24
Seems to be a problem with the upstream library bypass. @jancborchardt can you give me precise steps to reproduce this bug so i can file an issue to upstream lib?

[2015-10-25 08:43] stefan-niedermann commented on #31
I'm already working with milestones to categorize issues. Let's mark 0.5.0 as "ready-for-community-test-milestone" :)
about "Make note directly editable": this one is a *really, really* big ticket. this means very much implementation effort and i currently have no idea how to realize this in a smart way. Are you sure you want to wait for this issue? since i don't have very much time i'm not sure i

[2015-10-25 08:48] stefan-niedermann commented on #27
could you please clairify? current configuration:
Single Note Widget:
[code]
All Notes Widget (does not work yet)
[code]

[2015-10-25 09:01] stefan-niedermann commented on #21
i think all issues here are solved in master. would it be okay for you to close this issue and open a new one ("autoloading the notes list on first connection") ?
the title and discussion here might be confusing since this is the last real open task.

[2015-10-25 09:06] stefan-niedermann commented on #26
- [ ] remove Cancel and Save Buttons
- [ ] save when Activity is left (e. g. pressing back button)
- [ ] save every time the user stops typing for 1 second

[2015-10-25 09:36] jancborchardt commented on #26
As well as exiting the app using the app switcher or home button. Back button is valid for both in-app back button and system back button.

[2015-10-25 09:37] jancborchardt commented on #21
Great, will do! :)

[2015-10-25 09:37] jancborchardt opened #32 "Autoload notes list on first connection"
As you also said @stefan-niedermann, on first connection (pressing »Connect« and being redirected to the notes list) should automatically fetch the notes from the server.

[2015-10-25 09:38] jancborchardt opened #33 "Empty state for no notes"
When there are no notes, there should be a nice empty state, just like in the ownCloud Files web app for empty folders.

Quite simple for the beginning.

[2015-10-25 09:41] jancborchardt commented on #31
Ok, then let’s first go for the other ones.

I really do think the »Make note directly editable« is very important for a notes app which gets out of your way, but if you say it will take a _lot_ of work then of course we can postpone that and promote already before that. And hopefully someone of @kernald @stoyicker @andyscherzinger @tobiaskaminsky @lukeowncloud @masensio or @davivel can help. :)

[2015-10-25 09:42] jancborchardt commented on #24
Basically, just have any plain text note with line breaks in it. Like this:

Will appear as:

[2015-10-25 09:44] jancborchardt opened #34 "Notes app crashing on open"
The notes app is now continuously crashing for me on opening and I can not do anything at the moment. This is what I did last and what I think might have caused it:

1. Create a note
2. Add widget for it
3. Change note (including first line, title line)
4. Widget doesn’t get updated, clicking on it also leads to old note. But the list is updated
5. Then the app just starts crashing on opening.

@s

[2015-10-25 09:45] jancborchardt commented on #28
Because if something is not really needed, it takes away focus from the things which are really important. ;) I’d say just comment the code and let’s see how we fare without it for now? :)

[2015-10-25 09:45] jancborchardt commented on #28
So – it does hurt as it takes away mental capacity. :) It’s not needed.

[2015-10-25 09:48] jancborchardt commented on #27
Yup, bigger font size than now. :) So that the resulting widget of a height of 1 will display 3 1/2 rows of text.

[2015-10-25 15:45] #28 closed

[2015-10-25 15:48] stefan-niedermann commented on #21
closing this issue since all subtasks are done and autoload on first connection is handeled in #32.

[2015-10-25 15:48] #21 closed

[2015-11-03 19:41] tchncs opened #36 "wrong url error -> crash"
Hi, i tryed to build your app in Android Studio.
Maybe i did something wrong:

I opened it in Android Studio, and had simply built it with a self created Key.
Than i simply installed it in Android 5.1.1 and tryed to connect to my ownCloud 8.2.0.

In the first try, there will happen nothing if i click on *ok*.
Than, i re-open the App, the *ok*-Button is still dead, but the *enter*-Button on the Key

[2015-11-05 18:36] stefan-niedermann commented on #36
Hi there,

Not anyone interested on your app, have the experience or pleasure to figure out how this works... :-)

Yeah, would be okay for me. i will check a compiled version in the next days.

Could you maybe contact me via E-Mail and provide me more information (e. g. the url you are trying to use as base url)? stefan.niedermann@googlemail.com
Did you use the latest tagged version or the master

[2015-11-06 10:56] tchncs commented on #36
Hi, thank you for your answer - i dont think its a problem to write it public :)
Yes, it was the latest, tagged one, and, no joking it worked last night until this day until it started to the next crash loops. (I didnt changed anything, no restart, no nothing)
However, then it started again - now i built from the latest commit,
look a way better now, the hole app, nice work ;)
Its a very fresh ins

[2015-11-06 13:40] tchncs commented on #36
**Update:** i played a little around with the Markdown Syntax... after a few trys to create a <hr> or <hx> i ran into a crash loop. I wiped the appdata, re-login and cant reproduce it. Still working.

[2015-11-08 13:41] stefan-niedermann commented on #36
i think the actual issue "wrong url error -> crash" is solved in master, so i would close it. if you want you can open further issues for other problems.
I think the hr-problem is linked to https://github.com/stefan-niedermann/OwnCloud-Notes/issues/24 and caused by the used upstream library bypass and its integration.

[2015-11-08 13:41] #36 closed

[2015-11-10 12:18] jancborchardt commented on #34
@stefan-niedermann any news here? :) Maybe @AndyScherzinger @tobiasKaminsky @Stoyicker @Kernald or @LukeOwncloud of the Files Android app can help debug?

(Btw @stefan-niedermann you’re near Nürnberg, right? You’re very welcome to join our meetups in [Munich](http://www.meetup.com/owncloud-munich/) or [Nürnberg](http://www.meetup.com/owncloud-nuernberg)! :)

[2015-11-10 18:12] stefan-niedermann commented on #34
yeah i'm near Nürnberg. i wanted to, but monday is per definition a bad timing for me :(

no news yet, sorry.... didn't work the last few days on the app. will keep you updated if there are any news of course.

[2015-11-10 19:20] tobiasKaminsky commented on #34
I am sorry, but I am busy with owncloud ;)
So unfortunately I cannot help here in the nearer future...

[2015-12-31 15:12] X4fyr opened #37 "Headlines rendered as normal text"
First of all, I don't know if this is a bug or a feature.
All my headlines are formatted as normal text, except for extra spacing.
This negates the benefit of multiple level of headlines, as they all look the same.

Greetings,
X4fyr

[2016-01-01 11:32] stefan-niedermann commented on #37
Thank you for reporting. This is a bug. I would say it's a duplicate of #24 since this seems to be caused by the upstream bypass library.

[2016-01-02 09:16] #30 closed

[2016-01-02 09:16] #32 closed

[2016-01-02 09:19] #26 closed

[2016-01-02 11:24] jancborchardt commented on #31
@stefan-niedermann awesome to see the activity on the app again! :) Only 2 issues left!

[2016-01-02 11:25] jancborchardt commented on #31
Oh and @stefan-niedermann, is there an updated apk?

[2016-01-02 11:26] jancborchardt commented on #30
Yeeeha! :) Awesome on all the new year activity :+1:

[2016-01-02 14:18] stefan-niedermann commented on #37
Should be fixed on master-branch.

[2016-01-02 14:18] #37 closed

[2016-01-02 14:57] stefan-niedermann commented on #24
This issue has been reported to the upstream-project: https://github.com/Uncodin/bypass/issues/197

I am sorry, but think, we can only wait and hope that they will fix it.

[2016-01-02 15:06] stefan-niedermann commented on #11
@jancborchardt If you could answer my questions on https://github.com/owncloud/android/commit/2afd2d6fb6171e94fd40a712cab9ee036b4c8058 i would be able to generate the icon myself :)

[2016-01-02 15:45] jancborchardt opened #38 "Spinner as feedback on initial notes load"
Now that the notes load initially (https://github.com/stefan-niedermann/OwnCloud-Notes/issues/32), there should be feedback about that.

Just display a loading spinner centered in the content area, and below that a short »Loading notes …«

[2016-01-02 15:47] jancborchardt opened #39 "Performance on opening a note"
Opening a note takes a tad too long when tapping on it. Is there any way to make it faster?

As a first step, it would be good to at least give feedback that the app registered the tap. Currently there’s no row highlight or anything as one is used to with other apps.

[2016-01-02 15:47] jancborchardt opened #40 "Mention license, source code and call to contribution in the »About« section"
That would be cool to underline this is open source and contributions are welcome. :)

[2016-01-02 15:50] jancborchardt opened #41 "Align text of date dividers with the note text"
Currently the text of the »yesterday«, »this week«, »earlier« headers is too far to the left. It should be left aligned with the text of the notes to look nicer. :)

[2016-01-02 15:52] jancborchardt opened #42 "Editing a note makes it show up above a »today« date divider"
There should never be a »today« date divider, since that is implied. When you edit a note, that note should just be at the top of the list.

[2016-01-02 16:00] #41 closed

[2016-01-02 16:08] stefan-niedermann commented on #40
yeah right. i will do this after #11 - since i will have to change the about-page then anyway.

[2016-01-02 16:21] stefan-niedermann commented on #34
Well, the widgets are still not getting updates, but i'll have a second look into this. and at least the crashes should be fixed in the meantime.

[2016-01-02 16:23] stefan-niedermann commented on #41
Is in v0.4.0 (which i released just some minutes ago).
I also adjusted the README.md-file:

http://owncloud.niedermann.it/index.php/s/BOM5V1VZwscFk1k

[2016-01-02 16:27] jancborchardt commented on #34
Yup, crashes are fixed it seems. But yeah, the widget is not getting the updates, especially when the first line (and thus the filename) is changed.

[2016-01-02 16:28] jancborchardt commented on #41
Nice, good call on distributing the apks like that. :) Will check out v0.4.0 now.

[2016-01-02 16:29] stefan-niedermann commented on #39
I think the main problem is the bypass-library which i am using. it takes much time and i am not able to cache the rendered result (reportet to upstream, too: https://github.com/Uncodin/bypass/issues/191 - no answer yet :disappointed: ).

[2016-01-02 16:32] jancborchardt opened #43 "Make connection process easier by using Nextcloud-Account-Importer"
Currently on first run, you need to manually put in your credentials to the app. However it’s very likely that you already have the Nextcloud app installed and hence the account can be reused there. This will dramatically ease the first run experience.

@David-Development of the Nextcloud News app for Android built an awesome library for that: https://github.com/David-Development/ownCloud-Account-

[2016-01-02 16:37] jancborchardt commented on #39
Looking at the activity of that library it seems pretty inactive: https://github.com/Uncodin/bypass/commits/master – and from the description (markdown) it’s not really something we need at this point. Especially since it’s the cause of two major problems, this and the line-break issue.

I’d say let’s throw it out for now if possible. We can always reevaluate later when the issues are fixed upstre

[2016-01-02 16:41] jancborchardt opened #44 "On initial start, directly open keyboard alongside focusing server address field"
Initially starting the app, the »server address« field is automatically focused, which is good. However, the keyboard is not open and hence you need to click the field again anyway.

It would be best to directly open the keyboard too so one can immediately start typing.

[2016-01-02 16:43] jancborchardt opened #45 "On initial start, deactivate connect button initially"
At least the server address and the username field should have a value before the Connect button is enabled.

[2016-01-02 16:44] jancborchardt opened #46 "Username field is multiline"
Filling out the server address, you can use the »enter button« of the keyboard to continue to the next field for typing in the username. There however, using the enter button creates a new line. This makes little sense as usernames can not be multiline. ;) Instead, it should work the same and continue to the password field.

[2016-01-02 16:45] jancborchardt opened #47 "Pressing enter when finished writing in the password field should automatically connect"
In the initial connection screen, pressing the enter button on the keyboard (which has a checkmark in it) should automatically trigger the connect button. Right now you need to manually click it when you are done.

[2016-01-02 16:49] jancborchardt opened #48 "No obvious way to get out of edit mode"
Apart from the fact that there should be no »Edit« mode – see https://github.com/stefan-niedermann/OwnCloud-Notes/issues/3 – currently there’s no obvious way to get out of the mode. You can only do it via the main back button.

In addition there should be a back arrow on the top left, just like in the other views.

[2016-01-02 16:49] jancborchardt opened #49 "Background color should be white everywhere"
Currently the background is only white in the notes list. In the other screens however it’s greyish (connect, about, note view, note editing). It should be white everywhere.

[2016-01-02 16:51] jancborchardt opened #50 "In edit view, text alignment should be the same as in note view"
Currently when switching to the edit view, the text is squished too far to the edges. It should have the same margin as when you view the note.

[2016-01-02 17:46] #47 closed

[2016-01-02 17:46] #50 closed

[2016-01-02 17:47] stefan-niedermann commented on #47
see [app-debug.apk](http://owncloud.niedermann.it/index.php/s/BOM5V1VZwscFk1k)

[2016-01-02 17:48] stefan-niedermann commented on #49
see [app-debug.apk](http://owncloud.niedermann.it/index.php/s/BOM5V1VZwscFk1k)

[2016-01-02 17:48] #49 closed

[2016-01-02 17:48] stefan-niedermann commented on #50
see [app-debug.apk](http://owncloud.niedermann.it/index.php/s/BOM5V1VZwscFk1k)

[2016-01-02 17:50] stefan-niedermann commented on #46
Fixed in 6e74f9e.
see [app-debug.apk](http://owncloud.niedermann.it/index.php/s/BOM5V1VZwscFk1k)

[2016-01-02 17:50] #46 closed

[2016-01-02 17:58] stefan-niedermann commented on #36
Hi @tchncs,

I liked your idea very much, so i adapted it and mention it in the README.md.
Check it out: https://github.com/stefan-niedermann/OwnCloud-Notes/blob/master/README.md

You can find the stable version "release-v0.4.0" and the developer version "app-debug.apk" there.
http://owncloud.niedermann.it/index.php/s/BOM5V1VZwscFk1k

Best regards

[2016-01-02 23:17] jancborchardt commented on #50
Awesome on all the fixes! :) You rock!

[2016-01-03 02:03] jancborchardt opened #51 "Improve animations"
Currently when opening and closing a note, there’s this strange up-and-down animation. This is quite jarring and doesn’t make a lot of sense spacially.

What people are used to more is a left-right animation. The more detailed view slides in from the right. Pressing the back button slides back to the left to the list.

[2016-01-03 11:14] tchncs commented on #36
Oh, thats very nice! :+1:

[2016-01-04 10:00] stefan-niedermann commented on #3
Some News: I will not implement this in the next time (takes too much time, sorry). But there is a project on Github called [MarkdownView](https://github.com/falnatsheh/MarkdownView) and [i asked the devloper](https://github.com/falnatsheh/MarkdownView/issues/13) to implement this feature. If he implements it, i can and will use it.

[2016-01-04 16:52] jancborchardt commented on #3
But we don’t really need the Markdown view, eh? Just simple plain text totally works for now, and a simple flow is way more important at this point than having Markdown rendering.

[2016-01-08 16:05] jancborchardt opened #53 "Card layout prototype"
@stefan-niedermann I just checked out the card layout prototype. On a smartphone at least the layout makes it very difficult to have an overview. The cards have variable height, it's very difficult to scan, and you always have to switch left-right. :/

[2016-01-08 16:31] jancborchardt opened #54 "When first date header is not »today«, show it"
The »today« date header does not need to be shown of course. But if the first note is older, say »yesterday«, that date header should be shown. :)

[2016-01-14 06:57] HeaDBanGer84 commented on #53
As I sad, for the first approach I oriented on the [Google Keep](https://play.google.com/store/apps/details?id=com.google.android.keep) App. I found it the perfect Notes app as I used a google account back in the days. The Cards are not necessarily related to the [StaggeredGridLayoutManager](https://developer.android.com/reference/android/support/v7/widget/StaggeredGridLayoutManager.html) with 2 C

[2016-01-14 08:51] jancborchardt commented on #53
Yeah, I can see where it's coming from. :)

Google Keep however does this because they have color-coded notes and pictures as well as other visual content. We don't have this (and it would be quite a big task and spec work needed to implement all that), so it makes less sense and mainly causes confusion because you don't really have visual anchors.

[2016-01-14 08:51] jancborchardt commented on #53
cc @owncloud/designers on this FYI

[2016-01-14 09:22] jancborchardt opened #55 "Changing screen orientation causes data loss"
1. Edit a note
2. Exit edit mode
3. In view mode, rotate the device to switch to landscape mode.

The new edit will be lost. cc @stefan-niedermann

[2016-01-14 09:23] jancborchardt opened #56 "Use auto-capitalization from system"
For a new line and after a dot, the keyboard normally auto-capitalizes. The app should respect that.

[2016-01-14 09:26] jancborchardt opened #57 "New note view enhancements"
The new note view should have a back button top left so one can go back. Of course it should save then. The x button is better removed since it's too close to the save button.

And of course autosave should be in this view too.

[2016-01-14 13:42] stefan-niedermann commented on #53
I just decided to keep the list layout (at least for now). i mailed @HeaDBanGer84 the reasons. sorry. hope, you still want to contribute :)

[2016-01-14 13:42] #53 closed

[2016-01-14 13:45] stefan-niedermann commented on #3
I think, MarkDown is an essential core feature of ownCloud Notes because it enables a quick overview. without markdown it looks like code for some users.
There are some users who told me, the use the web-version to create notes (primary) and the app for viewing the note (primary). I can agree this (since i use my app allday).

While there is no library i could reuse for inline-markdown, i think it

[2016-01-14 18:11] jancborchardt commented on #53
@HeaDBanGer84 yeah, this is definitely not meant to be dismissive! :) But maybe that layout is not right for this app in the current state. Your contributions are very welcome though!

[2016-01-14 18:14] jancborchardt commented on #3
Well, viewing and editing should be just a single tap away – that is the tap of the cursor. Just like for the iOS notes app. No need for a different view.

The markdown rendering is a nice addition, but should ideally be inline, like in the web interface of the Notes app.

(Not sure who you asked, but the ability to quickly edit and add notes on mobile is a main reason for this app I'd say. I hard

[2016-01-14 20:01] HeaDBanGer84 commented on #53
@jancborchardt I don't give up so fast. I desperatly look for a good note-taking solution, with sync support (I hate creating notes with an on-screen-keyboard) and a features, wich helps me keeping my thoughts togethter.
And perhaps in the future there will be picture support (markdown supports it anyway, but  have to be implemented in the oc-app first, makes the sync a lot harder (Perhaps needs a

[2016-01-19 12:53] stefan-niedermann commented on #11
Fixed by https://github.com/stefan-niedermann/OwnCloud-Notes/commit/7460d38403aa631560f70ee8f85ecfd4bd44ea2b.

[2016-01-19 12:53] #11 closed

[2016-01-20 10:36] HeaDBanGer84 commented on #51
I startet to implement Animationtions in my fork like discribed http://android-developers.blogspot.de/2014/10/implementing-material-design-in-your.html in section Authentic Motion

see commit:
https://github.com/HeaDBanGer84/OwnCloud-Notes/commit/ea43f085da8f5feae56c029fb6053aa5750d5ba1 and
https://github.com/HeaDBanGer84/OwnCloud-Notes/commit/26a836df0bd670ce8739afa57fb6cca071455edd

[2016-01-20 12:39] stefan-niedermann commented on #51
Hi @HeaDBanGer84,

thank you for starting working on this!

any chance to move you back to the ListLayout instead of the CardView Layout? I think it will be very difficult in the future to merge back all these changes when the two projects are using different layouts everywhere...

[2016-01-20 12:48] jancborchardt commented on #51
Yeah, please use the list view layout so we are on a common base. :) Also, if you can, a gif or video of the animation would be cool! :)

[2016-01-20 13:26] HeaDBanGer84 commented on #51
If you compile current version, you see that i don't use the cardlayout. It can be activated, with some flags which just need 3 extra lines of code.
simple demo:
![transitions](https://cloud.githubusercontent.com/assets/11348045/12450042/99e2da30-bf81-11e5-8c5c-2f5aadda416b.gif)

[2016-01-20 14:04] jancborchardt commented on #51
While the animations are playful this way, they need to look absolutely perfect. And currently it seems a bit jerky. Can we do better there?

[2016-01-20 14:04] jancborchardt commented on #51
Also, the look of the list view seems to have a regression. It looks kinda old-style with very visible horizontal lines etc. It should look like a nice Material design list instead.

[2016-01-20 14:10] HeaDBanGer84 commented on #51
I record this from an emulator and converted it to an animated .gif. It looks a lot better on real Hardware. The seperators  are down in a dedicated .xml file. But I was not able to find the perfekt color and thickness for it. if @stefan-niedermann knows better just adjust the values in /res/drawable/line_divider.xml

[2016-01-20 20:20] stefan-niedermann commented on #51
Sorry, but your fork is definitely too much away from where i want to go with the app.
1.) The design regressions @jancborchardt mentioned are no problems, i would fix that, but
2.) The animation... it fades the whole screen instead of just moving one activity over another. this is not the wanted behaviour
3.) The Sections are not working anymore, too. i think this problem is caused by the switch

[2016-01-20 20:36] jancborchardt commented on #51
I can totally understand @stefan-niedermann here and support his decision.

Since I have seen too many small open source apps fail because there were too few people working on it together, I would pledge for collaboration here instead of a fork, please. :) @stefan-niedermann @HeaDBanGer84

[2016-01-21 08:19] HeaDBanGer84 commented on #51
If it is possible to contribute it would continue. But I have to keep the app usable for me
@stefan-niedermann
 1. completely agree, I wasn't able to find the right color and thickness for this seperator, becaus RecyclerView has a very defrent approach to it than the classic ListView
 2. Take the suggtion from developer blog and if you watch that https://www.youtube.com/watch?v=RhiPJByIMrM is exat

[2016-01-21 08:55] stefan-niedermann commented on #51
Thanks.

Please have a look at my [RecyclerView-Branch](https://github.com/stefan-niedermann/OwnCloud-Notes/commits/RecyclerView) where i was able to use ViewHolder-Concept *and* Sections. This branch is nearly ready to merge in master, there are only a view Bugs left.
- [ ] Creating a new Note creates the note two times
- [ ] Deleting a Note via long-click selects another Note after Deletion

I w

[2016-01-21 11:14] jancborchardt commented on #51
@stefan-niedermann I’m totally fine with you two discussing this here. :) It’s a very important topic.

[2016-01-21 19:22] #48 closed

[2016-01-21 19:36] stefan-niedermann commented on #45
Would it be enough logic if:

User starts app -> Button is disabled.
If url is not empty AND username is not empty -> Button is enabled.
If url is empty OR username is empty -> Button is enabled.

[2016-01-21 19:44] #44 closed

[2016-01-21 19:58] stefan-niedermann commented on #40
Just some thoughts about design:
Maybe some tabs?

----

# Credentials
## Maintainer
Stefan Niedermann
## Contributors
### Development
HeaDBanGer84
### Translation
pejakm
### Testing
Jan C. Borchardt

----

# Contribution

Source Code: <GithubLink>
Issue Tracker: <GithubIssuesLink>

# License

This App is licensed under the GPLv2
<Here Full License Text>

[2016-01-22 15:19] HeaDBanGer84 commented on #57
I would recommend to merge the "NewNoteActvity" with the "EditNoteActivity" They have to be pretty similiar anyway and its esier to maintain.
Also wouuld recommend to move the accept Icon from the ActionBar to a floatingButton in the bottom right like its recommended in the design guidelines.
Sorry for mixing these things in one Issue but I think they can also be fixed at once. If everybody agrees

[2016-01-22 15:25] HeaDBanGer84 opened #61 "Changing DataFlow"
I would recommend to sepperate in app Dataflow from persistence and synchronisation. Persistence and synchronisation could be handled with a Service-class and the Internal Data Managment could handled only through the adapter which Binds with the Service. Ithink this should fix the Issues:
#39 and #55

What you think?

[2016-01-22 17:33] jancborchardt commented on #57
@HeaDBanGer84 do you mean »Make note directly editable #3«

[2016-01-22 18:05] HeaDBanGer84 commented on #57
Nope, its more or less just code reorganisation. At the moment editing a Note and creating a new one are to complete different classes which doesn't share much code or layout. In fact creating a new Note can be done by creating an empty note and edit it. If handle note creation that way the layout can be shared and also of lot of code can be reused. That means if you fix a bug in the EditNoteActiv

[2016-01-23 09:40] stefan-niedermann commented on #57
Yeah, we can merge create and edit (code-wise).

- [ ] Create / Edit should have a back button top-left so one can go back (currently only in edit)
- [ ] Create / Edit should have auto save (currently only in edit)
- [ ] Create / Edit should have an X-Button in the top-right corner, because:
  - It is no longer too close to the save button since the save button will be removed (auto-save and auto-

[2016-01-23 09:44] stefan-niedermann commented on #61
I would be fine with it. Sounds great.
But how do you think, this affects #39? I think the performance issue (i didn't notice it yet on my nexus 4) here is caused by bypass which parses the markdown on every note open.

[2016-01-23 09:54] stefan-niedermann commented on #34
Closing this because the main issue (Notes app crashing on open) is fixed.
Yeah, the Widget does not work well yet, but i keep it in mind. I want to focus on issues of the core app. You don't need to open a new ticket - if i continue work on the widget, i will keep this in mind.

[2016-01-23 09:54] #34 closed

[2016-01-23 09:56] stefan-niedermann commented on #13
Hm @jancborchardt don't you know anyone from the ownCloud app maybe who could help here? I would provide the text file as good as i can do it. Who registered the ownCloud Beta app recently?

[2016-01-23 10:01] AndyScherzinger commented on #13
I think @tobiasKaminski took care of that for the beta.

[2016-01-23 12:35] HeaDBanGer84 commented on #57
I startet on implementing #61 . See https://github.com/HeaDBanGer84/OwnCloud-Notes/tree/SyncService for my changes so far. After finished I can start with this one. If you not have finished it first ;-)

[2016-01-23 14:41] HeaDBanGer84 commented on #61
Latest Changes pushed on my repository on branch SyncService. Still needs some testing but I think its worth it.

[2016-01-24 12:35] stefan-niedermann commented on #31
Remove milestone because it's blocking other development. If i have a creative idea how to solve the two remaining issues i will do it. Maybe we can close this issue as well, since we have a separate issue for #3 and #24?

[2016-01-24 12:36] stefan-niedermann commented on #45
@jancborchardt Can you confirm this logic is enough? You can retest if you want: http://owncloud.niedermann.it/index.php/s/BOM5V1VZwscFk1k (app-debug.apk). So we can close this issue.

[2016-01-24 13:47] pejakm commented on #14
@stefan-niedermann I forgot to report that [few lines](https://github.com/stefan-niedermann/OwnCloud-Notes/blob/master/app/src/main/res/values/strings.xml#L47) in default strings are in German instead of in English. :)

[2016-01-24 14:12] stefan-niedermann commented on #14
ah thanks, will fix this ;) and thanks for your updated translation.

[2016-01-24 16:48] #9 closed

[2016-01-24 16:49] stefan-niedermann commented on #9
See http://stackoverflow.com/questions/2734270/how-do-i-make-links-in-a-textview-clickable
Solution: ```((TextView) v.findViewById(R.id.xxxxxxx)).setMovementMethod(LinkMovementMethod.getInstance())```

[2016-01-24 17:08] stefan-niedermann commented on #54
So "today"-separator is not needed at all if i understand you right?
Could you please test with current [app-debug.apk](http://owncloud.niedermann.it/index.php/s/BOM5V1VZwscFk1k)-version? is this behaviour correct in your opinion?

[2016-01-24 19:38] stefan-niedermann commented on #18
Preview Image for Single Note Widget in c90e95e31476d9e513770c40303cfff461355a1f.

[2016-01-24 21:43] #55 closed

[2016-01-24 21:44] stefan-niedermann commented on #55
Technical Solution: use onSaveInstanceState to remember edited note. Because on every screen orientation change onCreate() is called which uses the original given note.

[2016-01-24 21:55] jancborchardt commented on #31
Ok, I guess we can close this. But it would be good to add the 0.6.0 milestone to #3 and #24.

Also, those need proper fixes rather than creative solutions. ;) And again, both issues there stem from the Markdown plugin.

[2016-01-24 21:59] jancborchardt commented on #54
Yes, the »today« separator is never needed. However, if the most recent note was edited »Yesterday« or »This week«, that separator should show up top in the list. Even in the app-debug version as of just now it doesn’t.

[2016-01-24 22:00] jancborchardt commented on #45
I guess you meant to say _dis_abled here?

[2016-01-25 05:56] #31 closed

[2016-01-25 05:58] #45 closed

[2016-01-25 05:58] stefan-niedermann commented on #45
Ah, of course :) edited my comment.

[2016-01-25 09:50] HeaDBanGer84 commented on #3
I really appreciate @stefan-niedermann decision. If you crate a note it has to be directly editable (like it is at the moment). But it really depence on the Use-Case. For example I have a Note with openings of small shops I visit from time to time (Post Office,Butcher ...). On locotaion I usally take a picture and add it to my note  when I sit in front of a computer next time. But I often look at

[2016-01-25 15:24] jancborchardt commented on #3
@HeaDBanGer84 the problem you mention (with the keyboard popping up) would not happen. When you open an existing note, of course the keyboard will only appear once you tap to edit. Normal scrolling will not make the keyboard appear, effectively making the text appear as if it is read-only.

[2016-01-26 18:02] jancborchardt commented on #40
@stefan-niedermann I would simplify the »About« page to just be one page, without tabs. Right now it seems to be the most complex part of the app. ;)

Like this maybe:

We could also mention @HeaDBanGer84 by name. :) And is GPLv2 really the best choice of license, given it’s not the latest?

[2016-01-26 20:42] stefan-niedermann commented on #40
I'll think about it

His decision ;) Not everyone wants to read his real name everywhere ;) - if @HeaDBanGer84 wants, i will of course add his real name.

Just had a look at the LICENSE-file, it's licensed under GPLv2+ (gplv2 or later). I also thought about switching to AGPL.

[2016-01-26 21:01] jancborchardt commented on #40
AGPL doesn’t make a lot of sense since it’s not hosted software, but I would recommend GPLv3+.

[2016-01-28 09:29] stefan-niedermann commented on #13
**Update:** I've created a [Merge Request](https://gitlab.com/fdroid/fdroiddata/merge_requests/1170) - so we may get it to f-droid finally soon :)

[2016-01-29 10:00] moshpirit commented on #24
Same error here, maybe because of markdown? I think there should be an option to enable and disable the MarkDown view (which is already enabled)

[2016-01-29 10:02] stefan-niedermann commented on #13
v0.4.0 is [availabe on F-Droid](https://f-droid.org/repository/browse/?fdfilter=owncloud&fdid=it.niedermann.owncloud.notes).

[2016-01-29 10:02] #13 closed

[2016-01-29 12:38] stefan-niedermann commented on #3
May i make a proposal.
The following workflow (only a mockup) would cover both needs: a markdown-rendering and a directly editable note.

![screenshot_2016-01-29-11-12-11](https://cloud.githubusercontent.com/assets/4741199/12675849/88dfe7c4-c68d-11e5-8e62-5dbedfbb8254.png)

[2016-01-29 13:59] jancborchardt commented on #13
@stefan-niedermann nice! :)

[2016-01-29 14:02] jancborchardt commented on #3
That’s certainly much better, yes! :) Just reverse the views, basically. Because it emphasizes quick note taking over nice markdown viewing.

Of course again – ideal would be inline Markdown, just as it’s done in the Notes web app. But this is fine as intermediate step.

(The »Edit« header in the edit step should be the note name, just like for the markdown view though. ;)

[2016-01-29 16:03] AndyScherzinger commented on #13
:+1: Nice! Any particular reason for "just" supporting Lollipop and up? Just curious :)

[2016-01-29 16:07] stefan-niedermann commented on #13
Err - Nope. I will have a look when i have time.
Well, and i tested only on 5.1 yet :wink:

[2016-01-29 16:11] AndyScherzinger commented on #13
Yeah, no hurry I just read the version line on f-droid and thought I ask. :grin:

[2016-01-29 16:14] AndyScherzinger commented on #13
Further infos: Support ~v19 shouldn't be a big problem since you already use the support libs :+1:
One thing I would encourage in case you allow text selection at any place in the app you should then update the support libs to the latest version since there is a selection render bug on pre lollipop which is fixed in the actual support lib version.

[2016-01-29 17:42] stefan-niedermann commented on #13
Some more News: Available on [Google Play Store](https://play.google.com/store/apps/details?id=it.niedermann.owncloud.notes) now.

One thing I would encourage in case you allow text selection at any place in the app you should then update the support libs to the latest version since there is a selection render bug on pre lollipop which is fixed in the actual support lib version.

Thanks! Will have

[2016-01-30 07:31] haarp opened #64 "No obvious synchronization mechanism"
I'm loving this nice and minimalistic app!

But it lacks something: Synchronization. Currently, the app seems to synchronize with the server in irregular intervals. If I edit a note on the server with another app (e.g. OwnCloud's web interface), the notes app does not notice. Closing and reopening the app a couple of times seems to eventually make it synchronize and show the new version.

Worse ye

[2016-01-30 08:25] stefan-niedermann commented on #64
Hi,

thank you for feedback.
- I will try to reproduce and fix the crash bug.
- This app uses a swipe-to-refresh-layout: try to swipe from top to bottom in the list view
- It should sync on open the list view, but i will do some research (maybe it works currently not, if the app has not been closed and runs in the background?)

[2016-01-30 08:30] haarp commented on #64
Ah, indeed, swipe-to-refresh is possible. But the animation should play even if the refresh was triggered automatically, for two reasons:
- To let the user know that there is a swipe-to-refresh gesture
- To let the user know when the app has synced

Pressing the back button doesn't close the app, does it? That's what I've been using. Although it would probably be better if a refresh is triggered w

[2016-01-30 09:49] stefan-niedermann commented on #13
I was able to lower API level to 10 (Android 2.3.3) without any bigger issues. (v.0.5.1)

[2016-01-30 12:22] stefan-niedermann commented on #64
@jancborchardt you opinion to this point pls

[2016-01-30 15:34] ibleedbinari opened #65 "NullPointer when trying to save"
I keep encountering a NullPointer after editing any note and trying to save on exit. After encountering the crash one time, the app always crashes on launch until you clear data.

[code]

[2016-01-30 15:39] stefan-niedermann commented on #65
Can you please describe steps to reproduce?

And in the meantime: can you clear app data and test if it works when you reconnect?

[2016-01-30 15:41] ibleedbinari commented on #65
Steps to reproduce:
1. Open any note
2. Make any change
3. Go back (app tries to save and crashes)

Problem occurs again after clearing data and setting up server again fresh.

[2016-01-30 15:51] stefan-niedermann commented on #65
Hm... can you please add the following information: Which device are you using? which exact version do you use and from which app store? Did you have internet connection when you tried it or did you maybe switch 3g/wlan when trying this?

[2016-01-30 15:53] ibleedbinari commented on #65
Nexus 5X running CyanogenMod 13 20160129-NIGHTLY Android 6.0.1
Affects version 0.4.0 and 0.5.0, both from F-Droid
Internet was active, WLAN at the time, no network switch either try.

[2016-01-30 16:05] stefan-niedermann commented on #65
Hard to discover. I assume you only used your mobile phone and did not use the webinterface at the same time?
Have you tried to update your mobile phone via swipe2refresh? This should create a clean data level on your phone. (swipe from top to bottom in the list view).

[2016-01-30 16:21] stefan-niedermann commented on #65
I could reproduce this
[code]

which seems to be the same problem like you have.
My steps to reproduce:
1. open note on mobile phone and start editing it
2. delete note (e.g. via web interface)
3. type something on mobile phone (which causes auto-save)
4. exception.

[2016-01-30 16:46] stefan-niedermann commented on #65
I have created a fix which will prevent the app from crashing.
Please wait 1 or 2 days until version 0.5.2 is available on F-Droid and retest.

I will create a follow-up ticket to refactor this and ask user, whether he wants to delete his local note or recreate the note on server.

Thank you.

[2016-01-30 16:49] #65 closed

[2016-01-30 16:53] stefan-niedermann opened #66 "Handle remote note deleted"
This is a follow-up-ticket for #65.
# Situation:
1. User starts editing a note on his mobile phone.
2. User deletes note via web interface without leaving edit-mode on mobile
3. User causes autosave through leaving the edit-mode or further editing
4. How should this be handled?
   - **Delete local** note
   - **Recreate remote** note
   - Let **user choose**

cc: @jancborchardt

[2016-01-30 17:26] ibleedbinari commented on #65
I'm fine with switching the release source/signature. Do you have a 0.5.2 build available?

[2016-01-30 17:30] stefan-niedermann commented on #65
Nice :)

You can try [app-debug.apk](http://owncloud.niedermann.it/index.php/s/BOM5V1VZwscFk1k) (mentioned in the README.md)

[2016-01-30 17:34] ibleedbinari commented on #65
That build says it is version 0.5. Was it updated?

[2016-01-30 17:41] stefan-niedermann commented on #65
Please retry

[2016-01-30 18:24] ibleedbinari commented on #65
That fixed it. Thanks!

[2016-01-31 11:05] ageru opened #68 "Enhancement: integrate a singular and plural version of <string name="ab_selected">"
Hi,

On the notes listing page, it is possible to long-press one note to select it, and then to select several others.

The title bar will change depending on how many notes have been selected: "1 selected", "2 selected", etc.

In French - and possibly other languages - "selected" in that context has a singular and a plural version. I hacked something to cover both singular and plural in French he

[2016-01-31 19:20] haarp opened #70 "Can't copy text when not in edit mode"
In most apps, you can long-press text to get a selection and to copy text into the clipboard. This only works in this app if you go to edit mode first, not in the main view.

[2016-01-31 20:07] #70 closed

[2016-01-31 22:37] haarp commented on #70
Wow, you're fast. Thanks a lot!

[2016-02-01 05:45] stefan-niedermann commented on #70
You're welcome. Was just one line :wink:
Will be i next release (0.6.0).

[2016-02-01 08:05] stefan-niedermann opened #72 "Provide feedback on wrong credentials"
When a user trys to log in for the first time or changes his server settings, there is no visual feedback given, when the username/password is wrong.

Expected behaviour:
- user clicks "connect"
- username/password is wrong
- [toast](http://developer.android.com/guide/topics/ui/notifiers/toasts.html) appears and disappears after 3 seconds

[2016-02-01 10:27] theScrabi opened #73 "Accept custom certificates"
Hello,

can you please make, that the app is accepting custom certificates I can't install custom certificates since my cert installer on my phone is somehow broken.

[2016-02-01 10:32] stefan-niedermann commented on #73
Hmm, it would be better if you could fight the cause, not the symptoms. Have you tried to follow this Guide: https://coderwall.com/p/wv6fpq/add-self-signed-ssl-certificate-to-android-for-browsing

[2016-02-01 10:36] stefan-niedermann commented on #64
@haarp could you please retest this with v0.5.2? Should be fixed.

@HeaDBanGer84 is currently refactoring the sync-mechanism in sync-service-branch. So i guess this will fix your problems once it has been finished.

The last open task are the animations on automatically triggered refreshs, where i want to wait for @jancborchardt opinion

[2016-02-01 10:56] stefan-niedermann commented on #56
http://developer.android.com/reference/android/widget/TextView.html#attr_android:inputType
`android:inputType="textCapSentences"`

[2016-02-01 12:18] theScrabi commented on #73
No I know how to import android certificates xD, its just that the installer is broken due to removal of unnecessary bloatware that afterwards turned out important.

[2016-02-01 12:21] theScrabi commented on #73
Its not like you need to fix my errors, I want to switch to lets encrypt eniway, witch will fix that problem. It was just meant as an enhancement, because other owncloud apps also do it.

[2016-02-01 14:24] sedrubal commented on #73
I also think it's better to allow several certificates only for several apps and not for the entire system.

So :+1:

[2016-02-01 14:24] sedrubal commented on #72
:+1:

[2016-02-01 16:20] haarp commented on #64
@stefan-niedermann
Yes, the crash appears to be fixed, thanks :) However, it still overwrites changes done via other sources.

[2016-02-01 16:22] haarp opened #74 "Timestamp header not updated after modification"
0.5.2 from Fdroid

- Open a note
- Edit it
- Press back
- You see the new version of the note, but the header still shows the timestamp from before the edit

[2016-02-02 04:58] 9662 opened #75 "Minimum Android version"
Currently, both the apk in your ownCloud and on F-Droid have a minimum Android version of 5.1. I have a device on 4.2.1.

Is there any chance this could be built against such a version?

[2016-02-02 05:10] 9662 commented on #75
Never mind. Now it has installed from F-Droid somehow.

Apologies for the noise.

[2016-02-02 05:10] #75 closed

[2016-02-02 08:09] stefan-niedermann commented on #75
No problem, v0.5.0 required API Level 23. - This has been fixed in v0.5.1 - Now API Level 10 is required (Android 2.3.3).

[2016-02-02 10:18] 9662 commented on #75
Ok, that explains. F-Droid did a refresh in between the first and the second time I looked. Cheers. ☺

[2016-02-02 10:49] 9662 commented on #64
FWIW, I agree that the current system is not particularly discoverable. [MyOwnNotes](/aykit/MyOwnNotes) uses a refresh-type icon on the title bar (whatever it's called in Android), like this:

Not updating:
![Not updating](https://cloud.githubusercontent.com/assets/13080040/12747079/3b2a5cc2-c9a2-11e5-972d-4b9c470dd904.png)

Updating:
![Updating](https://cloud.githubusercontent.com/assets/13080040

[2016-02-02 11:07] 9662 opened #76 "Editing saves on every keypress. It hammers my connection."
It appears that the application tries to mimic the approach on the ownCloud web front end, which has no explicit save mechanism.

As far as I can see, for every keystroke the whole file is being sent to the server. If let us say the user is editing a largish note on low bandwidth, this becomes a bit of a problem. It also totally screws up my Activity feed.

Why not:
* Have an explicit save mechani

[2016-02-02 11:09] theScrabi commented on #73
Cool

[2016-02-02 11:14] 9662 opened #77 "Weird note rendering"
Take this note:
[Shopping List.txt](https://github.com/stefan-niedermann/OwnCloud-Notes/files/113782/Shopping.List.txt)

On my phone it renders like this:
![screenshot_2016-02-02-12-09-12](https://cloud.githubusercontent.com/assets/13080040/12747728/14a97f2a-c9a6-11e5-8f0f-106cbf23c180.png)

Any idea what I'm doing wrong? Am I just crap at markdown formatting or is this a bug? Cheers.

Just to cla

[2016-02-02 11:52] stefan-niedermann commented on #76
Hi @9662,

This is correct, see #26.

Not for every keystroke, no, but:

The period of inactivity is [1000ms](https://github.com/stefan-niedermann/OwnCloud-Notes/blob/master/app/src/main/java/it/niedermann/owncloud/notes/android/activity/EditNoteActivity.java#L23).

This is also happening.

Please have a look at [issue 57](https://github.com/stefan-niedermann/OwnCloud-Notes/issues/57#issuecomment-

[2016-02-02 11:54] stefan-niedermann commented on #77
This is a known bug in the upstream-library. See #24 "Line breaks ignored" and the correspondent bug in the upstream project "bypass": https://github.com/Uncodin/bypass/issues/197

Sadly, no one seems to care... :-/

[2016-02-02 11:54] #77 closed

[2016-02-02 11:55] stefan-niedermann commented on #77
Try to use
[code]

This could work.

[2016-02-02 13:34] #56 closed

[2016-02-02 13:44] #74 closed

[2016-02-02 13:51] stefan-niedermann commented on #73
Could you please explain me the benefit of allowing a certificate only for an app instead of the whole system? I don't get it. When *you* (as a person) trust a self-signed cert - why should not every of apps (which are all installed by *you*) trust this cert?

[2016-02-02 14:48] sedrubal commented on #73
Ok... maybe it's only a very small benefit... :D

E.g. CACert: I don't want to genreally trust CACert but my owncloud runs with CACert and therefore I want only my owncloud apps to trust CACert.

But then I could only trust the server certificate of my owncloud system wide insteat of CACert root CA... ok...

So I don't know. But the App should at least give a feedback if the certificate is not tru

[2016-02-02 18:47] #72 closed

[2016-02-02 19:18] fxedel commented on #73
I've just wanted to create this issue, then I saw that it's already there :smile:

Many owncloud installations are on local servers (like mine), so certificates always cause problems. The official owncloud app solves the problem by showing a dialog that the certificate isn't verified and asks if the user wants to continue. That would be my expected behavior: Simple, but the user still has the choi

[2016-02-02 19:22] stefan-niedermann commented on #73
I definitely agree with this point. Okay. I will have a look into the source code of the ownCloud App and if this pop-up, @fxedel mentioned, can be adapted easily, i may do it. When i have time.

Pull-Requests based on master are welcome :)

[2016-02-02 19:25] fxedel commented on #73
:+1:

[2016-02-02 19:42] fxedel opened #80 "Update heading after text has changed"
The heading is always the first line. But when I change the first line, the heading only updates to the new value after closing the note and refreshing. Before that, there are two different headings:

![photo_2016-02-02_20-39-23](https://cloud.githubusercontent.com/assets/7782229/12761924/4afc4c1e-c9ed-11e5-89ea-b8bd93793220.jpg)

Fix would be nice :)
I'm using the F-Droid apk, version 0.5.2.

[2016-02-02 19:58] stefan-niedermann commented on #80
Related to #74. Title usually gets generated on server (so the new title is only available after the note has been synchronized). But i already have a method on client to generate title, so i think it's not too complicated at all.

[2016-02-03 11:15] mrbiber commented on #19
I'd really like to see this feature, therefore, I've started a bounty on Bountysource and donated 20 bucks for it: https://www.bountysource.com/issues/27613093-local-search

[2016-02-03 13:48] stefan-niedermann commented on #19
Does anyone want to test the [debug-apk](http://owncloud.niedermann.it/index.php/s/BOM5V1VZwscFk1k)-version?
@HeaDBanGer84 @jancborchardt @mrbiber

[2016-02-03 14:03] #80 closed

[2016-02-03 16:35] 9662 commented on #76
Sounds cool. I would just say, perhaps make the inactivity delay user-configurable? That's one of those things for which one-size-fits-all just doesn't work.

[2016-02-03 17:03] stefan-niedermann commented on #76
Yeah, i know what you mean, but think about [Good Defaults Instead of Options](https://owncloud.org/blog/6-owncloud-user-interaction-design-principles/).
Lets think about how we can do it better instead of providing an option.

Example:
1. Default: 1sec
2. User goes into edit mode
3. If user has only 2G connection -> increase delay to 3 sec

[2016-02-03 17:48] haarp commented on #74
Thanks :)

[2016-02-03 18:17] X4fyr commented on #76
Why not a two phase save.
Phase 1: Save on keystroke/ short intervalls internally
Phase 2: Sync on lager intervalls/exit/inactivity to the server.

The leeds to much reduced bandwidth.

The only bad point I see in this are:
- The version on the server is older on an appcrash.
  But newer version is still on the device, to be synced at the next startup
- Worse parallel editing. If there is someone

[2016-02-03 18:28] stefan-niedermann commented on #76
No, sadly not. The webapp itself does currently not provide an api :-/

Nice idea, i will think about it. But as you already pointed out: When you want to work on both, app & web you have to wait longer before you refresh at the web version... hmm...

[2016-02-04 10:46] eggithub opened #82 "wrong username or password"
Hi there,

Just installed the app from f-droid. I think I have the server address and credentials filled out correctly but still the app shows "invalid username or password".

info:
able to connect to server from other apps/browser
notes app version 0.6.0 from f-droid
owncloud 8.2.2 with notes enabled
android 4.3
self signed certificate, imported in android
logcat shows no usable output, except "i

[2016-02-04 11:08] dasmaetthes opened #83 "Feature Request: encrypt and decrypt note"
Would be nice to have the possibility to encrypt and decrypt a note like you can do in [QOwnNotes](http://www.qownnotes.org)

If it would be even possible to decrypt the note which are encrypt with QOwnNotes and vice versa.

[2016-02-04 13:03] stefan-niedermann commented on #82
Hi, can you provide a demo-account for your owncloud instance and send me the credentials via email?

[2016-02-04 13:20] eggithub commented on #82
Will do tonight. Can you provide me with an IP(range) to let you through my firewall?

[2016-02-04 13:37] stefan-niedermann commented on #82
sadly no, i don't have a fix ip address. i can give you my current address when i can test it, but this will change after 24 hours :disappointed:

[2016-02-04 13:42] eggithub commented on #82
you can give me multiple subnets if you want...

[2016-02-04 14:53] stefan-niedermann commented on #83
How is QOwnNotes handling this? Are the encrypted notes readable via the ownCloud Notes (Server-) App? Or are the notes only encrypted on the mobile device and synced to server in plain text?

[2016-02-04 14:57] stefan-niedermann commented on #40
Thank you for feedback. I will keep it as it is for now. I plan to migrate to GPLv3+.

[2016-02-04 14:57] #40 closed

[2016-02-04 15:00] stefan-niedermann opened #84 "Switch to GPLv3+"
Since this app is licensed currently under GPLv2+ there should be no legal problem.
- [x] LICENSE-file in root directory
- [x] Aboout-section in app
- [x] F-Droid

[2016-02-04 15:02] dasmaetthes commented on #83
QOwnNotes isn't a mobile app, it's a desktop application written in Qt. It uses the library [SimpleCrypt](https://wiki.qt.io/Simple_encryption_with_SimpleCrypt) for en-/decryption.

So a note looks like following in the usual txt file:
``

So it can be still synced with ownCloud notes as usual but to decrypt and read you need to use QOwnNotes

[2016-02-04 15:05] stefan-niedermann opened #85 "About: Make tabs swipeable"
Currently tabs in the about-section are only clickable. One should be able to switch the tab by swiping left/right.

[2016-02-04 15:07] stefan-niedermann commented on #83
Well - i'm just asking myself where the key is stored? If the key are stored **in** the encryption would not be very useful. If the key stays at the local machine where you run QOwnNotes no other app will be able to decrypt the notes because the key is missing.

[2016-02-04 15:25] dasmaetthes commented on #83
Well, the key is stored on local machine, so would only work if there would be a way to sync also the key.
Just generally it would be also nice to have this future independent from QOwnNotes in your App

[2016-02-04 15:39] stefan-niedermann commented on #83
So syncing generally works. You may want to open an issue in the [server app](https://github.com/owncloud/notes/issues) to provide an api which could be used from other clients? I currently am not able to implement something as long as there is no api for it, sorry.

[2016-02-04 18:56] eggithub commented on #82
Hi,

I set up an account for you on my server.

User: stefan
Pass: nieder127mann
URL: https://skyrockit.us.to:4443/owncloud

Now all I need is an IP or range so I can grant you access.

Gr. Sander

On 4 February 2016 14:37:46 CET, Niedermann IT-Dienstleistungen <notifications@github.com> wrote:

[2016-02-04 18:58] stefan-niedermann commented on #82
My current IP-Address is 84.149.154.229

[2016-02-04 19:00] eggithub commented on #82
you can try now...

[2016-02-04 19:30] stefan-niedermann commented on #82
I was able to reproduce the exception.
But i do not know yet why it is caused. I exported your cert and imported it into android. Sadly i have not very much experience with self signed certificates...

![sslpeerunverifiedexception](https://cloud.githubusercontent.com/assets/4741199/12826998/f1c1b05c-cb7d-11e5-85b0-bca8e3756b09.png)

[code]

[2016-02-04 19:37] eggithub commented on #82
me neither, just know how to create one. I think I remember something about self signed certificates and owncloud client from 2 years ago about not being able to connect. something to do with the fact that the CN had to be the same as the IP adres or hostname. but I remember it that vaguely that I don't know if this was the real issue; still could be related though

[2016-02-04 19:41] stefan-niedermann commented on #82
Maybe this [Stackoverflow-answer](http://stackoverflow.com/a/16073479) could be useful...

[2016-02-05 15:01] cacula opened #86 "Feature Request: Task Lists in Notes"
Would be nice if it would be possible to add Task Lists to notes
e.g. like in github

- [x] @mentions, #refs, [links](), **formatting**, and <del>tags</del> supported
- [x] list syntax required (any unordered or ordered list supported)
- [x] this is a complete item
- [ ] this is an incomplete item

see https://guides.github.com/features/mastering-markdown/

[2016-02-06 09:51] stefan-niedermann commented on #86
Yeah, would be cool.
I am using [bypass-project](https://github.com/Uncodin/bypass) to render the markdown, so this feature request should go to their repository.

[2016-02-06 18:38] jancborchardt commented on #40
@stefan-niedermann thing is that it’s a funnel: Sure not every normal user will view it. But if it looks simpler, then we get more people to contribute. If it’s this convoluted big menu thing, people are less likely to be able to navigate through it and find what they are looking for. It’s just an »About« page after all.

(Also, usually not every single translator is listed because that just ends

[2016-02-06 18:42] jancborchardt commented on #64
Normally a sync should just happen. Most apps these days have pull-to-refresh, and an extra refresh button is not needed, not well integrated and also distracts from other functionality like search.

Other apps also do not show any refresh animation when something is being synced. The simple reason being that it’s not important. You only need to be confronted with sync stuff when it’s _not_ workin

[2016-02-06 18:50] haarp commented on #64
@jancborchardt

Syncing with Notes can take quite a few seconds. When I open the app, I want to know if what I'm seeing is up-to-date or if the app is still working on it.

There are other reasons for having this animation:
- Make the fact that there's pull-to-refresh discoverable (other apps scroll a lot, this an user might accidently discover it. Unless you have a ton of notes, there is no scrol

[2016-02-07 21:45] cacula commented on #86
done

https://github.com/Uncodin/bypass/issues/201

[2016-02-08 06:23] stefan-niedermann commented on #86
PS.: I'm thinking about changing the MarkDown library since this project seems to be not maintained (last changes are month ago)... If anyone know a good one...

[2016-02-08 06:23] #86 closed

[2016-02-08 19:02] mrbiber commented on #19
Search  works quite nicely!  I find the synchronous updating of the list view very slow, though, and would prefer search on [enter].
Also titles/filenames are not included in the search which is probably a frequent use case.

[2016-02-08 20:44] stefan-niedermann commented on #19
I am searching the content. The title is generated by the first line of the content, so every titel should be searched, too. Can you give me an example note + search query where it does not work?

Would you prefer a only-search-on-enter or would you like search as you type if it would be asynchron?

[2016-02-08 20:54] stefan-niedermann commented on #19
@mrbiber please try the new [app-debug.apk](http://owncloud.niedermann.it/index.php/s/BOM5V1VZwscFk1k) - it works now asynchronously and should not cause any performance issues. it is still search-as-you-type.

[2016-02-08 21:35] stefan-niedermann commented on #68
I need some information for initial implementation:
Which cases are handled specially by android?
["zero" | "one" | "two" | "few" | "many" | "other"]
And what are the correct french wordings? (Just post them here, i will copy them initially).

[2016-02-08 21:46] jancborchardt commented on #19
Search should definitely be as-you-type. Changing it to only by pressing on enter would make it even slower. There just needs to be proper feedback (like a spinner) and well, it needs to be made faster :)

[2016-02-08 21:59] stefan-niedermann commented on #68
Is this correct?
[code]

[2016-02-09 10:50] 9662 commented on #64
@jancborchardt

Yes, and that's an argument ad populum.

Pull to refresh is terrible from a usability point of view:
 * It is not discoverable, unless …
 * … you trigger that bastard by accident, e.g., when you're trying to scroll back to the top of a list, which …
 * … potentially costs money (e.g., roaming, satellite modems)

Very gimmicky, very fashionable, but utter rubbish. Especially when th

[2016-02-09 10:50] 9662 commented on #76
I know that principle rather well, that's why I said “one size fits all” does not always work. Also, default is not the same thing as hardwired.

One thing does not preclude the other, on the contrary. There should be a good default (for some sensible definition of “good”), while at the same time the user should always retain ultimate control.

As an aside: an example of this is Mozilla Firefox's

[2016-02-09 11:10] 9662 commented on #77
I am pleased to announce that this is, after all, [not a bug](https://daringfireball.net/projects/markdown/syntax#block). It seems that Markdown does not take into account single newlines, thus catering for hard-wrapped text.

However, it will honour any single newline preceded by at least two spaces. If I take my own shopping list example and modify it like so (note the two spaces at the end of e

[2016-02-09 11:32] jancborchardt commented on #64
@9662 how does showing feedback about syncing relate to the app being useful for people outside the »first world«? There’s still no way to cancel or rate-limit the syncing. Which honestly would be quite overkill for a text-only app.
Also, the app syncs automatically anyway – rightfully so, because people expect their data to be up to date.

It really seems like this app is not the right one for yo

[2016-02-09 11:32] stefan-niedermann commented on #77
Oh yeah! Nice!! Thank you. This will fix maybe #24.

[2016-02-09 11:44] stefan-niedermann commented on #24
There is maybe [a fix](http://meta.stackexchange.com/a/40978) - special thanks to @9662. I will implement this and maybe we finally get a solution here soon.

[2016-02-09 13:14] mrbiber commented on #19
I'll try the new apk asap. If the speed is good, then this is, of course, a good solution!
As far as the filenames are concerned, this is perhaps an edge case - I'm trying to set up a synchronization between OC notes and a local wiki, where the page title is stored in the file name and thus does not necessarily reappear in the file content. I guess that it's not worth additional code complexity to

[2016-02-09 14:07] stefan-niedermann commented on #19
I strongly aggree. Also there would be a negative performance impact when additional fields must be searched.

[2016-02-09 14:58] jancborchardt commented on #19
Keep in mind that the file name being different from the first line is very much possible. In fact this happens a lot with desktop syncing.

For example, I have some files called »TODO« or similar things, and they have the first thing todo on the top rather than the title again.

[2016-02-09 15:00] 9662 commented on #77
Or just chalk this down as a feature, not a bug? After all, the only problem (in my case) was that I hadn't read the Markdown spec and went on what Github does instead.

[2016-02-09 15:30] 9662 commented on #64
@jancborchardt

It lets you know that something of interest is happening, as pointed out by me and @haarp above.

The user can temporarily turn off the data connection or Wifi, as the case may be. At least on my Android phone there is also a “sync” feature that lets you tell applications whether they should hit the network or not. I do not know if this application complies with that or not—it's a

[2016-02-09 16:12] stefan-niedermann commented on #77
Well that's just marketing ;) The current behavior is not the expected, so it's a bug for me. This fix works and will be in v0.7.0.

Thank you very much for the hint.

[2016-02-09 16:17] stefan-niedermann commented on #19
Well this is IMHO a problem that should be addressed in the server app. Maybe by splitting title and content. I will open an issue there. Let's do a first small step and improve the search later when it's in stable branch.

[2016-02-09 16:38] stefan-niedermann commented on #64
Okay guys,

i am following this ticket since over a week now. Both sides presented their arguments, and both sides have *valid* arguments.

Though i have to make a decision. Sorry, but
- there will be **no** button to refresh like in MyOwnNotes
- the automatically triggered synchronization will not be visible

[2016-02-09 16:38] #64 closed

[2016-02-09 16:41] stefan-niedermann commented on #76
@9662: Answer: sorry, but no, there **won't** be an option to set the period of inactivity.
Better help finding a solution which does not need a preference, like the suggestions in the three comments above you.
Thanks.

[2016-02-09 17:24] X4fyr commented on #76
In addition to my previous described approach, it would be easy to implement some kind of offline mode, interrupting after phase 1, resulting in no bandwidth at all.

I think a thing like a `about:config` would be far to overpowered for such an app. And putting such small details, that the minority of users might use, in to settings, will just make them less overseeable.
This general problem of ba

[2016-02-09 17:28] stefan-niedermann commented on #24
Very hard, i thought, adding two spaces at the end of every line would do the job (`s.replace("\n", "  \n")`), but this causes empty lines between every list item of lists.

![bildschirmfoto vom 2016-02-09 18 25 41](https://cloud.githubusercontent.com/assets/4741199/12924497/b9035a50-cf5a-11e5-9db9-a59bcf5cdf43.png)

So this is the question: "Quick fix" with causing empty lines or keep it like it

[2016-02-09 17:40] stefan-niedermann commented on #24
Hm. i will keep it as it is to prevent higher damage^^. I'm looking for a new MarkDown library, [pegdown](https://github.com/sirthias/pegdown/) seems to be alive. It's a shame, nearly every MarkDown library like MarkdownJ, JMD etc. seems to be dead... Another option would be MarkDownView.

[2016-02-09 17:43] #68 closed

[2016-02-09 17:43] #19 closed

[2016-02-09 17:54] stefan-niedermann commented on #84
Opened [Merge Request](https://gitlab.com/fdroid/fdroiddata/merge_requests/1199) for F-Droid.

[2016-02-09 18:01] stefan-niedermann commented on #84
Merge Request has been merged.

[2016-02-09 18:01] #84 closed

[2016-02-10 10:56] stefan-niedermann commented on #73
@David-Development are you interested in porting the self-signed-ssl trust mechanism from ownCloud News to ownCloud Notes? This would be a great help.

[2016-02-10 10:57] stefan-niedermann commented on #82
Some requests reached me from people who have the same problem. I think the general issue is accepting self signed certificates.
If you are ok with the decision i would close this issue in favor of #73.

[2016-02-10 11:07] theScrabi commented on #73
I'd really like to help, but I loose enough time on my one project right now :/

[2016-02-10 13:22] eggithub commented on #82
Fine with me. I'll check the other post for updates.

Cheers!

On 10 February 2016 11:58:00 CET, Niedermann IT-Dienstleistungen <notifications@github.com> wrote:

[2016-02-10 13:33] fxedel commented on #82
I also have a self-signed certificate and I get the exact same error. The only solution for me was to change from https to http.

[2016-02-10 13:38] fxedel opened #87 "Heading doesn't allow hyphens"
When I use a hyphen ("-") in a notes' first line, it doesn't show up in the heading. However, the first line stays unchanged.
![_20160210_123435](https://cloud.githubusercontent.com/assets/7782229/12948692/f5423e4c-d003-11e5-81ec-940e01ba6319.JPG)

[2016-02-10 13:42] fxedel commented on #87
Additional note: I haven't synced yet, the heading generation has to be the one by @stefan-niedermann.

[2016-02-10 14:24] fxedel opened #88 "Issues when editing or creating notes without sync"
My OwnCloud installation is on a local server, so I can only sync when I'm at home and with my WiFi network connected.

When I add or edit notes on the go without syncing, wait a while and then sync back at home, there are three things that can happen. I haven't found out which of them happens when (maybe it's random):
1. The note is synced correctly, I can see the whole content on my computer.
2.

[2016-02-10 16:01] fxedel commented on #88
So I decided to make some more specific studies. Before each test, I've deleted all existing notes and synced until they got removed on phone and server.

## Study 1: Create new note, then sync

1. Turn WiFi (sync) off.
2. Open the notes app.
3. Press the + fab.
4. Enter this text (n means the index of current test)

[code]

5. Press "Save".
6. Pull down to refresh.
7. Turn WiFi (sync) on (wait a

[2016-02-10 19:29] #24 closed

[2016-02-10 19:30] stefan-niedermann commented on #24
Finally fixed in 0.8.0.

[2016-02-10 19:32] stefan-niedermann commented on #88
Great description! Thank you very much, this is very useful.

[2016-02-10 19:37] stefan-niedermann commented on #87
Yeah, basically the [server-side](https://github.com/owncloud/notes/blob/master/service/notesservice.php#L183-L215) code has to be ported from php to java (https://github.com/stefan-niedermann/OwnCloud-Notes/blob/master/app/src/main/java/it/niedermann/owncloud/notes/util/NoteUtil.java#L74-L82)

[2016-02-10 19:37] #82 closed

[2016-02-10 20:22] stefan-niedermann commented on #83
@dasmaetthes did you open an issue in the server app repository? I can't see what i can do on the android client if there is no server side API.

[2016-02-11 13:36] jancborchardt commented on #24
Nice! :) New library, or how did you do it?

[2016-02-11 14:10] stefan-niedermann commented on #24
Nah :disappointed:, fixed the upstream bug for the moment in my code for now... Not nice, but at least this bug is fixed for the moment...

It's the fix i mentioned [above](https://github.com/stefan-niedermann/OwnCloud-Notes/issues/24#issuecomment-181970277) with exceptions for lists.
[code]

[2016-02-12 10:14] kidexx opened #89 "Synchronisation does not work at all"
After installing the .crt file the logon does work, but no synchronisation at all. I am able to create notes on the mobile, but neither they are transferred to OwnCloud nor I can see the notes from owncloud. I don't get an error message.
Only special thing on my owncloud installation: It is in a subfolder of the domain, no own subdomain - is this maybe related?

[2016-02-12 10:47] fxedel commented on #89
The subfolder won't be the problem because my installation is also in a subfolder and for me, everything is working ;-)

[2016-02-12 10:52] kidexx commented on #89
OK, then only the question remains why it does not work at all. Unfortunately I don't get an error message. The version of owncloud: ownCloud 8.2.2 (stable)

[2016-02-12 12:06] fxedel commented on #89
Did you check logcat messages?

[2016-02-12 12:35] kidexx commented on #89
Yes, I don't see there something which seems to be related.

[2016-02-12 14:44] kidexx commented on #89
Ha, solved the problem. There are two Notes-Apps: The„OwnNote“ App from Ben Curtis and the „Notes“ App from Bernhard Posselt, Jan-Christoph und Borchardt.
The last note must be used.
In the other note app: https://f-droid.org/repository/browse/?fdfilter=myownnotes&fdid=org.aykit.MyOwnNotes
I got the error message with "JSON Format" which leaded me to: https://thomas-leister.de/internet/owncloud-no

[2016-02-12 20:43] ageru commented on #68
Hi Stefan,

Apologies for the late answer.

Indeed, you implemented it right for French. Here is how it works for froggies:
- 0 selectionnée
- 1 selectionnée
- 2 selectionnées
- 3 sélectionnées
Etc.

Basically, French switches to plural from 2.

Was it Russian that has different cases for 1, few many? I remember coming accross this once, I'll need to check.

Anyway, thanks for following up so quic

[2016-02-12 22:54] stefan-niedermann commented on #68
You're welcome :)

[2016-02-13 09:42] stefan-niedermann commented on #89
Sorry for late answer. Yeah, as mentioned in the preview, this is a client for [ownCloud Notes](https://github.com/owncloud/notes/), not ownNotes.

Regards

[2016-02-13 09:42] #89 closed

[2016-02-13 23:16] stefan-niedermann commented on #88
I think i have an idea about what causes this issue:
1. User creates note (Flag CREATED is set in db)
2. User edits note (Flag EDITED is set in db)
3. User synchronizes note (Trys to use UPDATE method for EDITED note, but on server there is this note not available)
This causes an error and the note gets damaged.

[2016-02-14 12:48] fxedel commented on #88
That makes sense. Looking forward to a fix :)

[2016-02-14 20:43] stefan-niedermann commented on #88
@fxedel could you please test [app-debug.apk](http://owncloud.niedermann.it/index.php/s/BOM5V1VZwscFk1k)?

[2016-02-14 22:00] fxedel commented on #88
I'm sorry, but the in study 2 described bug still remains, the note disappears :(

[2016-02-15 13:10] jancborchardt commented on #66
I’d say let’s err on the side of caution here – recreating the remote note seems to be the best course of action. It’s minimally invasive and the scenario is also pretty edge-casey.

[2016-02-15 17:07] kowarschick opened #90 "No Synchronization"
Source: Google Play Store, v0.7.0, Sony Xperia Z2 tablet and Sony Xperia Z2 smartphone

I've installed ownCloudNotes ontwo devices.
I can connect to a ownCloud server (version 8.2) via https (certified by letsencrpyt). I can write notes.
But those notes are not stored within the onenote app (OwnNote 1.05,  QOwnNotesAPI 0.4.2) .
And if I switch to the second device, the notes I've created on the fi

[2016-02-15 18:02] pbek commented on #83
The key is generated from the password one uses on the note and has just 64 bit, which can't really be called "strong encryption", but enough to hide sensitive stuff from plain sight.
https://github.com/pbek/QOwnNotes/blob/develop/src/libraries/simplecrypt/simplecrypt.cpp

[2016-02-15 21:18] stefan-niedermann commented on #90
Hi,

like mentioned in the Readme.md-File and on Google Play, the required Server app is not "ownNote" but "ownCloud Notes".
You will have to install [this app](https://github.com/owncloud/notes/) on your server.

[2016-02-15 21:48] X4fyr commented on #83
Why not using a binding to OpenKeyChain aka. gpg/pgp. This solves the problem of the key by shifting it to the OpenKeychain App.

[2016-02-17 09:27] Henni commented on #83
I believe the way to go is to encrypt the note server-side and client-side independently and to sync in "plaintext" (over TLS).

cc @LukasReschke

[2016-02-17 09:29] marxjohnson opened #91 "Log in screen display misleading error message on wrong URL"
Source: F-Droid

Version: v0.7.0

Device: Nexus 7 2013

Steps to reproduce:
-     Open the app
-     If not the first run, open Settings
-     Enter an incorrect URL, but the correct username and password
-     Press "Connect"
-     A toast message is displayed, "Wrong username or password"
-     This message should indicate that the URL is incorrect.

[2016-02-17 09:32] dasmaetthes opened #92 "Option to change sort method"
Would be nice to sort notes by date of last edit or alphabetically

[2016-02-20 18:21] fxedel commented on #92
:+1:

[2016-02-20 18:53] fxedel commented on #91
You're right. As you can see [here](https://github.com/stefan-niedermann/OwnCloud-Notes/blob/master/app/src/main/java/it/niedermann/owncloud/notes/android/activity/SettingsActivity.java#L242), the app simply uses one string to indicate an invalid login. I've opened #94 and added another string that says: That login is invalid. That's fewer information, but false information is worse.

IMO, the des

[2016-02-20 22:06] af7567 opened #95 "multiple lines shown on one line"
With some of my notes which have strike through text I am getting all the lines shown on one long line until getting to a black line.

[2016-02-20 22:07] af7567 commented on #95
Here is a screenshot showing a note in the app and the same note from the web interface.

https://csparker.uk/owncloud/index.php/s/3BaXLmhmMe8DR8f

[2016-02-21 11:11] fxedel commented on #95
Hi!

Unfortunately, this bug isn't new. Have a look at #24. It's a problem with the markdown library. But @stefan-niedermann already wrote a fix for this, it'll be added in version 0.8.0.

[2016-02-21 14:34] af7567 commented on #95
Ah OK. Thanks.
I did look at older issues to see if someone had mentioned it but I obviously didn't look back far enough :)

[2016-02-21 14:34] #95 closed

[2016-02-22 20:52] stefan-niedermann commented on #92
@jancborchardt your opinion pls - an option in the settings, default "last modified"?

[2016-02-22 21:07] fxedel commented on #92
My summary of possible sorting options:

- Last edit
- Created
- Alphabetically (name)
- Manually (needs changes in how the notes are saved)

[2016-02-23 06:26] jancborchardt commented on #92
Here’s my opinion on sorting of notes:

- Last edit: How we currently do it. It continuously changes sort order, but keeps the relevant stuff at the top.
- Created: I really don’t see how sorting by the date of _creation_ is relevant. A few months down the line, the sorting will make no sense in day-to-day working.
- Alphabetically (name): Alphabetical sorting in general is the lowest common denom

[2016-02-23 06:29] jancborchardt commented on #92
And about ascending/descending: Sorry but that makes absolutely no sense for the first 3 methods. For modified & created date this would show a stale list of the latest notes which is not useful, and for alphabetical sorting it would show things in a non-standard order with the ZYX stuff first.

We should always think thoroughly about anything we add to the app. Especially because it’s on mobile,

[2016-02-23 07:15] X4fyr commented on #92
I think you miss an option:
Sort by number of launches, so that the most used are visible.

[2016-02-23 13:14] jancborchardt commented on #92
Which brings me to another pro-point for simple sorting by »Last modified«: It can easily be »synced« cross-platform. It’s a sorting method even the most basic file managers have, so you can have the sorting the exact same on the desktop as well. Same for apps on other platforms, say if you have an iOS device with the Notes app or whatnot.

»Sort by number of launches« however, is an extra option

[2016-02-23 13:19] jancborchardt commented on #92
Also, if you’re interested: I recommend reading [the blog post on our ownCloud design principles](https://owncloud.org/blog/6-owncloud-user-interaction-design-principles/). In this case especially »2. Good Defaults Instead of Options«

[2016-02-23 17:01] fxedel commented on #92
@jancborchardt, I have to admit that you're absolutely right – these sorting options don't really have a good use case. Thanks for your detailed comments!

[2016-02-23 18:00] dasmaetthes commented on #92
Never seen such a intolerance.

Wrong: it keeps only the relevant stuff at the top when I edit it. But it doesn't mean that a note I edit last time for a half year isn't any more relevant

This make really no sense

On a mobile device a alphabetically sorting makes as well sense specially when it comes with a "quickScroll" it is the fastest way to find a note.

When titles cna be anything for you

[2016-02-23 20:04] jancborchardt commented on #92
@fxedel sure, happy to hear that cleared it up. :)

@dasmaetthes not sure why you see it necessary to call my thorough explanation »intolerance«. Not a very positive attitude towards open source developers/designers.

Anyway:

That’s right. But as you can also read further down in my first comment, there’s a simple solution to that – using the star/favoriting-functionality of files:

That is, if t

[2016-02-23 22:01] stefan-niedermann commented on #92
Hey guys, calm down.

I think a good compromise for a first step ist the star/unstar-solution. i opened [a ticket in server-app](https://github.com/owncloud/notes/issues/202) to implement an api for that.

There are valid arguments on both sides, i think there is a use-case for alphabetical order. But i don't think the other sort options are making much sense.

So the steps are the following:

1.

[2016-02-24 13:46] jancborchardt commented on #92
✌️ good call

[2016-02-28 09:01] Bugsbane commented on #3
Is just like to say that I came here specifically to file an enhancement wish item that is exactly what Jan was requesting. I'm very familiar with markdown, but guess what, in this app I barely care about it at all. What I care about in this app is the ability to quickly edit a note and get back to what I was doing. Thus, extra clicks between the note selection screen and the note editing screen (

[2016-03-05 16:04] fxedel opened #100 "How do the list item dividers work?"
I'm currently developing an Android app that uses a RecyclerView to show list items as well. I also wanted these grey divider lines between each list item (here: between each note). The only working solution for me was to add a new class extending RecyclerView.ItemDecoration and then in my fragment class use `recyclerView.addItemDecoration(...)`.

But as I can see in your source code, you didn't i

[2016-03-09 13:59] nytche commented on #88
I have just lost an offline written article after synthing, any solution?

[2016-03-09 15:14] stefan-niedermann commented on #88
I'm still trying to find a solution. Maybe v0.7.1 (should be soon on f-droid) could fix this issue. https://github.com/stefan-niedermann/OwnCloud-Notes/commit/eb6e2b0d74e7c283d6f7921f8cee1ed4191193d7
Please be patient, i have not very much time to develop this app.

[2016-03-10 11:29] af7567 opened #101 "Option to synchronise notes when opening the app"
When opening the ownCloud Notes app it doesn't automatically synchronise with the server but just uses the local cached copies of the notes.  I have to swipe down to get it to synchronise before opening up a note to make sure no data is lost.

A couple of times now I have gone into the app and loaded up a note, clicked edit, then realised something was missing from it.  So, I press the back button

[2016-03-10 12:57] stefan-niedermann opened #102 "0.7.1 crashes on saving an edited note"

[2016-03-10 12:58] stefan-niedermann commented on #101
I aggree. But instead of an option, it should simply *reload* on app open. I think this issue is caused by using `onCreate`. Maybe i can use here `onResume`?

[2016-03-10 13:01] stefan-niedermann commented on #100
Well, i don't think it is the best way i have it done, but if you want to have a look at https://github.com/stefan-niedermann/OwnCloud-Notes/blob/master/app/src/main/res/layout/fragment_notes_list_note_item.xml#L43-L48 you will see i just added a 1px image at the bottom of every entry.
Hope this is helpful for you.
Regards

[2016-03-10 18:50] #90 closed

[2016-03-10 18:53] #102 closed

[2016-03-14 14:18] stefan-niedermann commented on #88
@fxedel Could you please retest with v0.7.2 (Available on Play Store and F-Droid)

[2016-03-14 18:16] fxedel commented on #88
@stefan-niedermann Just tested it, seems to be working now. Thanks! I'll let you know if I experience any problems in future, but study 2 works now as expected.

[2016-03-14 18:17] fxedel commented on #100
Ok, thanks! I'll try to use it in my application as well :)

[2016-03-14 19:19] #100 closed

[2016-03-14 19:19] #88 closed

[2016-03-18 00:55] theScrabi opened #103 "make links openable"
Hello,

can you make Links open when you tab them.in non eddeting mode. :)

rgds schabi

[2016-03-19 15:11] jancborchardt commented on #3
@Bugsbane btw, reading this made me cry some tears of joy. ;) Thanks a lot!

[2016-03-20 05:10] Bugsbane commented on #3
@jancborchardt Thanks for anticipating my needs and lobbying for them before I even got here to file an issue!

[2016-03-24 21:18] #103 closed

[2016-03-24 21:40] #101 closed

[2016-03-25 13:53] stefan-niedermann commented on #101
Yeap, seems to work good. Please retest @af7567 - v0.8.0 should be on F-Droid in a few days. (Google Play a few days later)

[2016-03-27 09:36] moshpirit opened #104 "don't autosave if the note isn't modified"
Sometimes I like to copy the raw marckdown code and paste in other app. OCN thinks that I edited the note and save it showing it the first if the list when I didn't.

It would be nice an option to change the sort or cancel the automatic save in these situations.

[2016-03-27 09:43] moshpirit commented on #92
I'm used to the current "created" sort of MyOwnNotes so I would definitely use this one if it's available

[2016-03-27 09:45] moshpirit opened #105 "Scroll: bar and automatic go to the top"
1. A scroll bar would be appreciated
2. The automatic going to the top is quite annoying, is it possible to disable it?

Thanks a lot!

[2016-03-27 10:33] stefan-niedermann commented on #105
This is a bug in 0.8.0 that is caused by recreating the list after synchronisation has finished. It will be fixed in 0.8.1 which should be released within the next few days.

[2016-03-27 10:44] moshpirit commented on #105
Cool, thank you!

[2016-03-27 11:26] af7567 commented on #101
Yep, it looks like it is working now thanks.
At first I thought it wasn't because it doesn't show the spinner, but the notes are all updating when opening the app, waking the phone with the app already running, and when switching back to the app from another app :)

[2016-03-27 17:22] fxedel commented on #92
@moshpirit, so what's your use case for this sorting method?

[2016-03-27 17:28] moshpirit commented on #92
I use it for different things (note films to watch, emails, quotes, shared notes, etc) but in my mind, It's easier for me to find them if they're chronologically organized.

[2016-03-29 08:23] stefan-niedermann commented on #101
Yeap.

The spinner shows only on manual refresh (swipe to refresh), otherwise it would always show up on entering the list view - which is not needed imho and clutters the interface. the synchronization should "just happen" for users.

[2016-03-29 08:31] stefan-niedermann commented on #38
What about showing the circular loading spinner which is also shown on swipe-to-refresh? This spinner is known to the user and would provide a consistent app-behaviour on "sync with server"?

[2016-03-29 08:33] stefan-niedermann commented on #104
I think i have a better idea about how to solve this: "Cancel editing" - Displaying a corss in the top right corner of the edit-mode.
I noticed it is a problem if you accidently deleted a line and want to undo the change, you can't. I believe this could also fix your issue.

[2016-03-29 12:21] jancborchardt commented on #92
@moshpirit currently it’s also chronologically organized, just by modification date. If you never edit the notes, then that sorting is exactly the same as the one by creation date.

I don’t know why MyOwnNotes used the sorting method by creation date however, it seems arbitrary. The web interface sorts via modification date and that’s how the clients should also do it for consistency.

[2016-03-29 14:22] jancborchardt commented on #38
Yeah, that would also be good and might be enough. :)

[2016-03-29 18:43] fxedel commented on #92
I do think that sorting by creation makes sense. It's a kind of habituation because the order of the notes does never change (except of new notes a the beginning) – you know where to find a specific note.

I would add [this icon](https://materialdesignicons.com/icon/sort-variant) to the action bar. Clicking it will open a menu with the two options "Last edited" and "Last created", the current sort

[2016-03-29 19:42] moshpirit commented on #104
OK, but would the app remember the last saved option? (Enabled/disabled) or would be dis/enabled by default and have an individual memory for each note?

[2016-03-29 19:53] stefan-niedermann commented on #104
You misunderstood me. I don't want to implement an option, i want to add another button to the edit mode. So the user can choose everytime he edits an app if he wants to save the app (by pressing the back-button) or he wants to cancel the edit (by pressing the cross-button) - in the second case the editing is being undone and the edit-mode is left.

[2016-03-29 19:54] moshpirit commented on #92
Great! Thank you!

[2016-03-29 19:55] moshpirit commented on #104
Oh, that's even better!! :D

[2016-03-29 20:27] fxedel commented on #92
@stefan-niedermann you're right, alphabetical order would also cover this use-case. But I thought that implementing sort by creation _might_ be easier because you could reuse the "today"/... dividers.

Personally, I don't need either of these sorting methods. I'm fine with sorting by edited for my purposes.

[2016-03-29 20:48] fxedel commented on #104
If you press the back button while editing a note – is the note saved or cancelled? Both options make sense:

- **Saved**: The made changes won't be lost.
- **Cancelled**: You made something accidentally and just want to leave this screen (without saving).

So, there's always a case where one of the options could cause data loss.

The only solution that could prevent this: Two buttons (:heavy_chec

[2016-03-30 05:51] stefan-niedermann commented on #104
there have been two buttons at the beginning. they were removed with #26 and i think it's okay that the leaving a note means to save it. this is in 99% the action that a user wants when he leaves a note. but *sometimes* a user wants to cancel the editing without saving. only for this case there should be an :heavy_multiplication_x: top right, so the user can leave with "restoring the note from bef

[2016-03-30 08:57] jancborchardt commented on #92
@fxedel if you are fine with »sort by modification« then that’s good. :) We shouldn’t design the app on what-ifs and what we think _might_ make sense in some scenario. That’s a recipe for a bloated app where we have a lot of functions we don’t even use. And ownCloud Notes aims to be as simple as possible.

[2016-03-30 10:30] #105 closed

[2016-03-30 10:31] stefan-niedermann commented on #105
going to the top is fixed in 0.8.1 (on F-Droid in a few days), scrollbar will be added in 0.9.0 (will take some time).

[2016-03-30 10:52] moshpirit commented on #105
Cool, thanks!!

[2016-03-30 23:37] moshpirit commented on #19
Would be adding a searcher inside the note (for long notes) a good idea?

Eg: I have a huge Markdown note for activism with links and descriptions.

This would be very useful but I also understand that might be not a very used feature for other people.

PS: I don't know if I should open a new issue for this.

[2016-03-31 05:58] stefan-niedermann commented on #19
Hi @moshpirit
yeap, please open a new issue. I don't know yet if it's a good idea (how many people would use it?).
But let's discuss :)

[2016-03-31 07:45] jancborchardt commented on #19
I would definitely use an in-note search and think it’s very valuable. :)

And hooray already for the note title search!

[2016-03-31 07:58] moshpirit commented on #19
Sure! :)

[2016-03-31 08:01] moshpirit opened #106 "in-note search"
Would be adding a searcher inside the note (for long notes) a good idea?

Eg: I have a huge Markdown note for activism with links and descriptions.

This would be very useful but I also understand that might be not a very used feature for other people.

Note: commented on #19

[2016-03-31 09:55] jancborchardt commented on #106
Yeah, definitely. Simply a search icon in the top right next to the »more« icon just as in the main view would be good. :)

Then it’s search-as-you-type and the first result is directly focused. And the results placement could be highlighted in the scrollbar area (like Chrome does for example) to have a sense of placement.

[2016-03-31 10:00] moshpirit commented on #106
Or even inside the menu if you want a simple aesthetic, I don't mind.

I don't use Chrome (or anything from Google) but I think I get what you say; the top bar became something like this:

- back button
- searcher
- last/next word as ↑↓ buttons

Right?

[2016-03-31 11:52] jancborchardt commented on #106
Yup, that as well.

[2016-03-31 16:39] fapsi opened #107 "Synchronisation"
Hey,
first of all, thank you very much for contributing and developing this app, I really appreciate.
Unfortunately for me the synchronisation with the owncloud doesn't work.The app doesn't complain about my login credentials or something other, but in both ways (server-> androidclient, androidclient->server) there is no exchange. Is there any possibility for further debugging or are there some lo

[2016-03-31 19:57] stefan-niedermann commented on #107
Hey,
this app is about syncing with ownCloud Note (https://github.com/owncloud/notes) - not ownNote - similar names, but this makes the difference ;-)

Regards

[2016-03-31 20:06] fapsi commented on #107
Oh sorry, my fault. Thanks again!

[2016-03-31 20:06] #107 closed

[2016-04-04 10:39] DatGizmo commented on #92
I second the option for an alphabetic order.

My use case is quiet simple. If I'm searching for an older note, which I haven't modified for some time, it would simply be easier to scroll through the notes by name.
And by name I think about the first line in the note, the one which is in bold in the overview.

[2016-04-04 11:16] jancborchardt commented on #92
@DatGizmo actually the already existing search feature would work for you much quicker.

[2016-04-06 19:30] #85 closed

[2016-04-07 17:01] fxedel commented on #87
![bildschirmfoto vom 2016-04-07 18-47-07](https://cloud.githubusercontent.com/assets/7782229/14359369/62005c34-fcf1-11e5-85ed-ff9661e5c582.png)

As you can see, the desktop version doesn't remove markdown code, it simply uses the first line.

I don't exactly know the code location where that title is generated. Maybe this: [js/app/controllers/notecontroller.js#L20-23](https://github.com/owncloud/n

[2016-04-14 09:35] DatGizmo commented on #92
@jancborchardt I have to admit, that I somehow just missed this feature. Probably because normally I scroll through lists instead of searching. It's just my way I guess.
Thanks for showing me the obvious :)

[2016-04-14 10:58] jancborchardt commented on #92
@DatGizmo sure, no problem! :) Hope the app works nicely for you, and looking forward to any bug reports / enhancement requests. Or even code contributions, if you are familiar with Android. :)

[2016-04-14 11:04] moshpirit opened #111 "App crashes when editing and delete the note or its modifications"

[2016-04-14 11:57] stefan-niedermann commented on #111
Hi @moshpirit,
can you please give me more information: Where did you get the app from? F-Droid, Google Play Store or self-built?
Which version are you using?
Can you provide exact steps to reproduce this behaviour? (Add note on android, edit it on desktop, go back to list-view in android, etc...)

[2016-04-15 09:43] moshpirit commented on #111
Sorry, yes, of course I can:

Android 5.1.1
Version 0.81 (from F-Droid)

I think it's a problem made when I go out when it's saving the note, but I need more testing. I'll report more details!

[2016-04-21 16:07] haarp commented on #64
For what it's worth, just now I opened this app (after a few days of not using it) and saw missing notes. Which made me think the server was broken (as I had this problem before), so I booted my PC to double-check. Which revealed that the notes were there after all. Turns out that the app hasn't refreshed the notes in days, possibly weeks.

Functioning auto-refresh on start/gaining focus and visib

[2016-04-22 07:37] jancborchardt commented on #64
Yeah @stefan-niedermann I had the same problem. Is there some issue with the auto sync in the background? Otherwise stuff should be synced on startup for sure – and then some small loading feedback spinner is proper.

[2016-04-27 15:30] frederiiiic opened #113 "incorrect connection details"
Hi there,

I've just installed the app on android, and it don't want to log me in. Error "Détails de connexion incorrects" in french, so something like incorrect connection details in english. I'm definitly sure of my login and password, this work on website and other app. I've tried the form with and without https, both don't work.

Did the app accept capitalize letter in pw? and in server URL?

[2016-04-27 15:41] frederiiiic commented on #113
Ok, i solved it.

Apparently the app don't like that there was already a "Notes" directory in my owncloud, full of *.txt in.
I just move them all to another directory, and everything is working fine now.

A bit sad of not rescaping the old notes... i'll try to find a way.

Thanks.

[2016-05-06 07:52] giovi321 opened #114 "Automatically refresh notes at startup"
It would be very useful to have an option to automatically refresh the notes at the startup of the app. With any scheduler (like llama for example), one can automatically update the notes without opening the app.

[2016-05-08 20:24] stefan-niedermann commented on #114
Hi @giovi321,

this should already happen - every time one gets to the list view, the notes should be synced. I assume you are using v0.9.0 from F-Droid? Is this correct? Please consider to use v0.7.2 while i am trying to figure out what the problem is exactly.

[2016-05-08 20:26] stefan-niedermann commented on #113
Hm, curious. Well, this is only an android client which uses the REST-API of the server-side Notes App. This android client does not read/write files, so i am sorry to say, that i will not be able to fix this.

You may want to open an issue in the server-side part: https://github.com/owncloud/notes/issues

ciao

[2016-05-08 20:26] #113 closed

[2016-05-30 11:01] Loki3000 opened #115 "Issue with a '*' sign"
**Android version:** 4.4.2

**Device**: lenovo s820

**System language**: Russian

**App version:**  v0.8.1

**App source:** F-Droid

**Steps to reproduce:**
  1. open the app
  2. click on "add note"
  3. type:
[code]
  4. save note
  5. open created note.

**Expected result:**
[code]

**Actual result**
[code]

[2016-05-30 19:17] stefan-niedermann commented on #115
Hmm, well, the MarkDown-Parser thinks `*this* text should be cursive` because it is surrounded by two asterisks. Can you please check how the Browser handles this?

[2016-05-31 05:51] Loki3000 commented on #115
-- Отправлено через K-@ Mail. Извините за краткость, пожалуйста.

[2016-05-31 05:59] Loki3000 commented on #115
Seems that cursive works wrong.
![screenshot_2016-05-31-08-48-51](https://cloud.githubusercontent.com/assets/12333165/15664578/2328d898-2716-11e6-8cb8-4f5625031b43.jpeg)

[2016-06-05 17:08] moshpirit opened #116 ""Help: format" option in the menu"
You could also add it to the About menu, for newbies that's a nice way to learn how to use it and why is he viewing his notes this way.

[2016-06-06 08:24] wobblywob opened #117 "Notes created or edited in airplane mode are deleted when online"
Steps to recreate:
1. Turn on airplane mode
2. Create or edit notes in the app. The notes appear last as duplicates to the original notes
3. Turn off airplane mode
4. Refresh app. Notes and edits are lost

owncloud server version: 9.0.2
notes version: 2.0.1
android ownCloud Notes: 0.8.1

[2016-06-13 00:22] moshpirit commented on #117
Just happened to me. It was a huge note.

Android 6.0, OwnCloud notes 0.8.1 (F-droid)

[2016-06-17 14:28] emunicio commented on #117
It happened to me also. However I was not in airplane mode. I didn't have internet connection, and when refreshing after create the node, the note was deleted.

[2016-06-19 07:19] sprnza opened #118 "Every touch brings to the top"
Hi there!
thank you for the great app!
I've faced with a very annoying bug. Every tap on a note preview brings me to the top of it. The only chance to have it scrolled to the bottom is to do it continiously swapping down and catching while it moves.
I use 0.8.1 from f-droid

[2016-06-23 08:09] korelstar opened #119 "Show an error message if synchronization fails"
I've tested the app (v0.8.1 from F-Droid on Cyanogen OS 13.0 / Android 6.0.1, German) with some ownCloud servers and it appears, that the app does not show any message, that informs about errors during login or synchronization (except if the server address is wrong).

I.e., no error is presented and it looks like everything is fine for the following cases:

* If I connect to a server with wrong us

[2016-06-23 09:54] korelstar commented on #119
I just looked at the source, and found out that there should be indeed a Toast, if the login fails. However, the validation depends on the HTTP response code. Unfortunately, this does not work, if the Note app is not installed on the server. Here, the server always responses with status code 200. Hence, the HTTP response code check is not sufficient! You can test it with `https://demo.owncloud.org

[2016-06-23 12:26] stefan-niedermann commented on #117
yep. sorry guys, can confirm this is a bug that didn't appear in 0.7.2. i am very sorry for the delay, i have currently not much time to work on this project. i will fox this as soon as possible.

[2016-06-23 12:26] stefan-niedermann commented on #117
ps: pull requests are very welcome :)

[2016-06-23 14:05] korelstar commented on #117
Here are the changes from 0.7.2 to 0.8.1: https://github.com/stefan-niedermann/OwnCloud-Notes/compare/ef331d05a0d47b74498c4767d04f7a275096b009...0b8907c34abb170ff791f075e6cbc53e9e449114

I would say, the source for this bug could be in https://github.com/stefan-niedermann/OwnCloud-Notes/blob/0b8907c34abb170ff791f075e6cbc53e9e449114/app/src/main/java/it/niedermann/owncloud/notes/android/activity/No

[2016-06-26 18:56] korelstar commented on #117
Okay, I had a more detailed look into the source code and found that this is not trivially fixed. There are many (error) cases, which are not considered in the current implementation. I suggest to revise and restructure `NoteSQLiteOpenHelper` and `NoteServerSyncHelper` in order to be more robust.

Some ideas:
- separate database and synchronisation methods, i.e. remove `NoteSQLiteOpenHelper.XAndSy

[2016-06-27 09:28] korelstar commented on #3
May be, there could be a control in the settings, whether to use the current flow or the new flow.

Personally, I would like to edit the note directly, too.

[2016-06-27 13:13] jancborchardt commented on #3
@korelstar a core goal of Nextcloud/ownCloud is to make software as easy to use as possible. Having settings for that kind of stuff does not make any sense. ;) But good that you are also in favor of editing the note directly.

[2016-07-05 09:30] #119 closed

[2016-07-05 09:40] stefan-niedermann commented on #117
@korelstar thank you very much for analyzing the problem, it caused some headache to me^^. indeed, i used .synchronize() in v 0.7.2, while i tried to minimize the overhead in more recent versions by only using the atomar methods (download, etc). seemed to be a bad idea ;).
Refactroing the NotesServerSyncHelper and NoteSQLiteOpenHelper is welcome, i will review your merge request asap.

[2016-07-05 20:03] korelstar commented on #117
I just found another important issue in this context: you use the same database column for the local primary key and the remote ID. Hence, it is possible that a locally created (and not yet synchronized) note conflicts with a complete different remotely created note, because they have the same IDs. This could also result in data loss. Therefore, I'll have to do also a database restructuring and ch

[2016-07-10 19:40] korelstar commented on #117
There are many synchronization and concurrency issues, that were not addressed yet. But I'm almost done, now.

Please have a look at #123, test my bugfixes and give feedback!

[2016-07-12 09:34] stefan-niedermann commented on #111
Closing in favor of #117

[2016-07-12 09:34] #111 closed

[2016-07-12 11:25] korelstar commented on #104
If there is only the :heavy_multiplication_x: button and no button to save, this could be confusing. If you absolutely don't want the save button, I would propose to put the cancel action into the menu. This is also preferable since it will not be used that often.

Nevertheless, I see some problems with the implementation. Currently, all changes are directly sent to the server using the auto-save

[2016-07-16 07:29] korelstar opened #124 "Shorter name for activity label"
Currently, name of the app (`label` of `application` in the `AndroidManifest.xml`) and the name of the main activity (`label` of `NotesListViewActivity` in the `AndroidManifest.xml`) are both set to "ownCloud Notes". Unfortunately, this name is very long and on all devices I've tested with, it is shortened in the Android launcher (i.e. on the home screen and on the alphabetical application list) t

[2016-08-02 11:58] Dark-Fenix opened #125 "Authentication problem"
Hi,

I just installed the app from F-Droid on my Andoid phone (Cyanogen 13.0, Android 6.0.1) and my tablet (Cyanogen 12.1, Android 5.1.1).

On both devices, I can't connect to my ownCloud instance (I get an error message about a "failed login"). I tried with other accounts on the same server, in both http and https, same issue. Unfortunately I can't test on an other ownCloud instance for now.

I i

[2016-08-03 19:46] dklueh79 commented on #125
Me, too.
No login possible,prerequisites are fulfilled.

[2016-08-04 09:08] gantispam commented on #125
Me, too.
You can't login if you use a self_signed certificat but work without ssl connexion.

[2016-08-04 10:04] stefan-niedermann commented on #125
I'll have a look. i assume only the latest version of the server app (2.0.2) is affected?

[2016-08-04 10:06] dklueh79 commented on #125
On my server it is the previous and the latest. Before I didn't use it.

[2016-08-10 18:04] mark-orion opened #126 "Feature Request: Local mode (uses local synchronized notes folder) and will avoid SSL problems"
I suggest a simple feature that would solve most of the authentication problems with self-signed certificates: A local mode that does not use any server connection at all. Because OwnCloud-Notes is file based, the main OwnCloud sync client can be used to sync the notes - no need for another account. The notes app only needs a way to point to the right notes folder.

[2016-08-11 18:33] stefan-niedermann commented on #126
Nice idea, i just have concerns about where the server app will go - currently there are feature requests about labels and images and at least labels can not be mapped to a file based note... lets wait and see what happens at server

[2016-08-13 19:10] #76 closed

[2016-08-13 19:10] #104 closed

[2016-08-13 19:10] #117 closed

[2016-08-21 11:34] korelstar commented on #124
So, what do you think on this, @stefan-niedermann ? Any doubts? Should I make a pull request?

Since this kind of affects the design: maybe @jancborchardt could give an assessment.

[2016-08-22 08:07] korelstar commented on #66
With #123, the recreation is implemented (like before?). Hence, this can be closed(?)

[2016-08-22 08:45] korelstar opened #127 "Handle existing notes when changing URL or username"
(Enhancement)

If there are any notes on the user's device and the user wants to change the URL or username in the settings, ask whether to
1. copy notes to new account, or to
2. purge existing notes (warn if there are unsynchronized changes).

Both cases are reasonable, since a user may want to migrate to a new account and keep the data (1.), migrated the data already (2.) or wants to use another

[2016-08-22 11:04] fxedel commented on #127
+1

[2016-08-22 15:05] jancborchardt commented on #124
Good call, especially since this app also works with [Nextcloud](https://nextcloud.com). :)

[2016-08-23 20:26] frederiiiic commented on #125
Same issue.

[2016-08-27 15:19] PinkFreud opened #128 "Login error - non-self-signed ssl cert"
I'm using an OwnCloud instance with an ssl cert from Let's Encrypt.  the standard OwnCloud client works just fine, but OwnCloud-Notes gives me a login error, making the app completely unusable.

[2016-08-27 15:30] PinkFreud commented on #128
Never mind - user error.

[2016-08-27 15:30] #128 closed

[2016-08-31 07:22] stefan-niedermann commented on #124
I'm not really sure. I agree, it works for Nextcloud **and** ownCloud and a shorter label would be nice. But i think about a simple DAU-user which downloads this app from Play Store or F-Droid and thinks angry "Hey, what the f***? I downloaded this app and it is not what i expected - it wants a URL and credentials from me!"

[2016-08-31 07:29] stefan-niedermann commented on #107
Thanks to corelstar (#123) there is now a better error hint if the ownCloud Notes-App is not installed on server.

[2016-08-31 07:38] stefan-niedermann commented on #90
Thanks to corelstar (#123) there is now a better error hint if the ownCloud Notes-App is not installed on server.

[2016-08-31 07:40] stefan-niedermann commented on #89
Thanks to corelstar (#123) there is now a better error hint if the ownCloud Notes-App is not installed on server.

[2016-08-31 07:45] stefan-niedermann commented on #118
Hm, i'm sorry i can not reproduce it. Can you reproduce with the current master branch? Otherwise you could wait for 0.9.0 which has many overall code improvements

[2016-08-31 07:49] stefan-niedermann commented on #125
Please wait for 0.9.0 where more detailed error messages are generated. maybe we can find the source of the issue easier (i can not reproduce it :/ )

[2016-08-31 07:51] stefan-niedermann commented on #115
Agree, but unfortunately i can not fix this because the bug is caused by a 3rd-party-lib ("bypass"). I may switch to another library in the future, if i find a good one. but until then: Thanks for reporting, but can't fix.

[2016-08-31 07:51] #115 closed

[2016-08-31 07:52] stefan-niedermann commented on #114
Checked again, definitely will work with 0.9.0 (coming release).

[2016-08-31 07:52] #114 closed

[2016-08-31 08:02] stefan-niedermann commented on #91
Will be fixed in v0.9.0. (Different error messages for different errors)

[2016-08-31 08:02] #91 closed

[2016-08-31 08:11] stefan-niedermann commented on #83
I spent a little time on thinking about this issue and i my conclusion is: i agree to @Henni.
1. on server the notes are stored as files which can be encrypted
2. on transport to or from the clients the notes are protected by TLS
3. on clients well, it could make sense to encrypt them locally

so suma sumarum:
**What is really needed?** Encrypt the local database and ask for password on every time

[2016-08-31 08:11] #83 closed

[2016-08-31 08:15] pbek commented on #83
I agree to @stefan-niedermann.
Plus meanwhile QOwnNotes can encrypt selected notes with AES-256.

[2016-08-31 11:42] #124 closed

[2016-08-31 11:57] stefan-niedermann opened #129 "Swipe to delete"
Swiping a note to the left or right should delete it because it is a natural pattern on every android device.

[2016-08-31 11:57] #129 closed

[2016-08-31 11:59] stefan-niedermann opened #130 "Bugfixes for 0.9.0"
- ~~[x] Select more then one file in the listview and bulk delete them crashes the app (but deletes successfully)~~ Not reproducable
- [x] On first initial setup a network error is shown (since there is no server configured in this state, a sync error is odd)
- [x] Server-URL-checkmark in settings activity is misaligned -> caused by using support library 24.2.0, [bug is fixed in 24.2.1](https://co

[2016-08-31 19:38] Loki3000 commented on #115
Seems that bypass project is abandoned. So it's have to make fork and fix errors or take another lib.

[2016-09-01 16:19] stefan-niedermann commented on #115
yep, but i don't have enough time to manage owncloud notes - forking this lib would be just too much. i agree using another lib. as soon as i find a fast, powerful library that is actuvely developed.

[2016-09-01 16:20] stefan-niedermann commented on #115
yep, but i don't have enough time to manage owncloud notes - forking this lib would be just too much. i agree using another lib. as soon as i find a fast, powerful library that is actuvely developed.

[2016-09-09 07:36] dolohow opened #131 "On first sync all existing notes are removed when server app is installed after client app has been used"
**Android version:** 5.1

**Device**: Meizu MX4

**System language**: Polish

**App version:** 0.8.1

**App source:** F-Droid

**Steps to reproduce:**
  1. open the app
  2. create new notes
  3. install notes on owncloud instance
  4. at first synchronization all notes are removed

I guess there is no way to get them back?

[2016-09-09 07:39] stefan-niedermann commented on #131
first of all, let me excuse. Did you have a look at you next/owncloud "deleted files"? Since the notes are stored as normal files at your owncloud you might have a chance to put them out of the trashbin.

[2016-09-09 07:40] dolohow commented on #131
I used Android app for like a week and I did not have a notes installed on my ownCloud instance, but today I want it to synchronize with my computer so I installed owncloud notes and the Android client removed all _local_ notes.

[2016-09-09 07:42] stefan-niedermann commented on #131
oh damn, i'm afraid there is no way to recover the notes, sorry. the current master should handle a missing server-app, cold comfort: this will not happen with new versions of the app. :(

[2016-09-09 07:44] dolohow commented on #131
Damn, I hope I have a good memory.

[2016-09-09 07:45] stefan-niedermann commented on #131
sorry guy... :confused:

[2016-09-09 07:46] dolohow commented on #131
I would rather keep that issue open, so other could see it and to track the progress. What do you think?

[2016-09-09 07:49] stefan-niedermann commented on #131
I will try to reproduce this this weekend, like i said it should be fixed in current master and not happen again when the next version will be published. i can let it open as documentation until 0.9.0 appears

[2016-09-09 07:50] dolohow commented on #131
Thanks, have a good day.

[2016-09-13 08:44] dasmaetthes opened #132 "Support Subfolders"
Notes in sub-folders aren't synchronized. At least they should be synchronized and shown with other notes together.

Additionally a complete sub-folder support would be nice.

[2016-09-13 09:06] stefan-niedermann commented on #132
Depends on https://github.com/owncloud/notes/issues/2
I will implement folders when there is an API on the server app.

[2016-09-13 09:06] #132 closed

[2016-09-14 05:49] stefan-niedermann commented on #131
Just tested with the current master and a disabled server-app. i can not save the settings and therefore not create notes when the server app is not installed. error message says "Login failed. Is the ownCloud Notes App activated?"

[2016-09-14 05:49] #131 closed

[2016-09-14 19:59] dasmaetthes commented on #132
The server app shows at least the note inside sub-folders when also not sub-folders it self
QOwnNotes fully support sub-folders.
I think it's just your attitude again not to implement something which is for other useful but you don't need it yourself

[2016-09-14 20:12] stefan-niedermann commented on #132
**I display every note that is sent from the server through the official Notes API.** If the API does not support it and does not send it, i will not fix it with any workaround.  What do you expect? Implement webdav and fetch the complete folder structure? ;-)

Well this is basically right. I implement only things, that the official API provides. Also, i have to decide every feature i implement -

[2016-09-15 06:52] korelstar commented on #132
@dasmaetthes

Is this really true? On my installation, the current version of the server app (Notes 2.0.2) does NOT show notes inside of sub-folders.

However, the server app definitely does NOT give access to notes in sub-folders through the API. Hence, please please free to participate on owncloud/notes#2 if you want to speed this up, @dasmaetthes.

[2016-09-15 10:58] dasmaetthes commented on #132
I have to correct myself it doesn't work, I tried it few days ago,  I just moved a note into a sub-folder and it seemed working,maybe the note was still on cache that's why I could still see it.

I will have a look into it.

[2016-09-16 19:05] korelstar commented on #130
Do you mean "note" with "file" and this applies to the `NotesListViewActivity`? Then I can't reproduce this.

[2016-09-17 07:32] stefan-niedermann commented on #130
@korelstar not reproducable, maybe an odd state from my local machine.
I'm still receiving the sync-error at the very first opening:
![screenshot_20160917-093035](https://cloud.githubusercontent.com/assets/4741199/18606767/85915bce-7cb9-11e6-8f14-d2ed42600978.png)

[2016-09-21 07:02] korelstar commented on #130
Hmm. I can't reproduce the sync-error on first run with the current state in `master`. Can you debug this please? I will make a pull request with a more precise message and logging in a few minutes.

[2016-09-22 17:49] #130 closed

[2016-09-25 16:38] stefan-niedermann opened #135 "F-Droid build is broken (missing translations)"
https://f-droid.org/wiki/page/it.niedermann.owncloud.notes/lastbuild_14
- [ ] change lint settings (i will never get everything up to date at release time and there is still the english-fallback)

[2016-10-01 04:50] cstackpole commented on #125
Greetings,
I have been having similar issues on the previous version with my LetsEncrypt SSL cert (with both owncloud 9 and nextcloud 10).  Just wanted to say that I tried it again with the old version, still broken. Then I updated and tried again with the 0.9.0 release from F-droid and it worked!! I am very happy. Hopefully it works for the others in this thread.

Thank you!

[2016-10-01 12:14] moshpirit commented on #118
Came here because this is happening to me on last version on F-droid: 0.9.0.

Also, this bug deselect all notes selected. So if you select like your last 15 notes, it brings you to the top (I think it's an automatic sync) and deselect (even when the top bar shows "15 selected")

Android 6.0.1

[2016-10-01 17:37] Dark-Fenix commented on #125
Hi,

I just updated through F-Droid, I still have the same issue :(

I made some other tests (short/long passwords, with ou without special characters, self-signed or official certificate...), and I don't have anything in my server's log.

Can the Android app generate some useful log with this new version ?

[2016-10-01 20:05] cstackpole commented on #125
Bummer. I was hoping it would fix your problem too. I agree, it would be nice to get more detail of what is going wrong.

[2016-10-02 09:46] userdaphi opened #136 "Missing subfolder support"
Is it possible to add a subfolder support. Woud be really helpful to sort the notes and keep them organized.

[2016-10-02 22:45] stefan-niedermann commented on #136
Please see #132

[2016-10-02 22:45] #136 closed

[2016-10-05 06:40] stefan-niedermann commented on #125
@Dark-Fenix what das the Toast say?

@dklueh79 @gantispam @frederiiiic can you retest, too, please?

[2016-10-05 12:36] Dark-Fenix commented on #125
@stefan-niedermann Sorry, but what do you mean by the "Toast" ? :)

[2016-10-06 16:03] stefan-niedermann commented on #125
Toasts are the small message pop ups at the bottom in android ;-) https://developer.android.com/guide/topics/ui/notifiers/toasts.html

[2016-10-07 08:44] Dark-Fenix commented on #125
So here is the Toast :

"Invalid login : server connection is broken".

Sure fact : my other ownCloud apps (for files and news) run well, so it is not network-related.

[2016-10-12 22:40] frederiiiic commented on #125
The error is right now for me in french : "Détails de connexion incorrects: Erreur d'E/S"
But in english its says : "Invalid login : server connection is broken".

I think it's not the same meaning... but i don't known what is an E/S error...

As @Dark-Fenix, some other app are working fine.

Thanks.

[2016-10-13 08:15] avalx opened #140 "Invalid filename when saving note"
I found out a problem with saving a note after it was changed on my phone. The log file on my ownCloud server shows that the filename is invalid:

`Error  index   OCP\Files\InvalidPathException: File name contains at least one invalid character
/var/www/html/owncloud/lib/private/Files/View.php - line 757: OC\Files\View->verifyPath('/avalx/files/No...', 'Test\r.txt')
/var/www/html/owncloud/lib/priv

[2016-10-13 10:27] stefan-niedermann commented on #140
puuuh.... yeah, could be an issue with \r\n, .. what platform is your owncloud running? linux i assume?
Maybe a new issue in the server-side-app should be opened. of course i could hard replace \n with \r\n, but other client may have this issue too... could you open one and link please?

[2016-10-14 08:34] avalx commented on #140
OK, I will put a request on the ownCloud/Notes site.

[2016-10-17 11:59] korelstar commented on #125
I think, we should provide the full java exception thrown somewhere in the app, so debugging will be easier.

However, could this be a certificate problem? Maybe you could try to manually import the certificates for your domain with the app CAdroid (e.g. https://f-droid.org/repository/browse/?fdid=at.bitfire.cadroid, also in Google Play).

[2016-10-17 19:36] #87 closed

[2016-10-17 20:43] stefan-niedermann opened #144 "Undo for "Swipe to delete""
It is possible to delete notes with a swipe action - but one could accidently delete a note, so there should be a undo-option just like in mail apps.

[2016-10-18 16:51] korelstar commented on #125
@Dark-Fenix , @frederiiiic
Could you provide a temporary test account for your owncloud installation? Then I could investigate the problem. You can send me the login information to github .. at .. korelstar ... dot ... de

[2016-10-19 12:16] Dark-Fenix commented on #125
Ok, here is little feedback about some tests we have made :

- I created a test account for @korelstar , it worked on his phone ;
- I tried on my phone with the same account, it worked too ;
- I tried again with my own account : connection issue ;
- I tried to delete every notes in the Notes app on my ownCloud instance, then tried again : still failed ;
- I created a new note (maybe the app is loo

[2016-10-19 12:53] korelstar commented on #125
I think it would be useful (almost necessary) to integrate a good logging solution into the app. Maybe, there are frameworks for this. But I haven't tried any, just found https://github.com/ACRA/acra . Do you have any experiences, @stefan-niedermann ?

Meanwhile, I sent a version with more logging in form of toasts to @Dark-Fenix . I hope we find the error source on this way.

[2016-10-19 12:58] Dark-Fenix commented on #125
@korelstar : I can't install your apk, I have a message "Parse error : There was a problem parsing the package".

[2016-10-19 13:45] korelstar commented on #125
Strange. I've made a pull request with my changes, so @stefan-niedermann could provide an updated version in F-Droid. Then, the installation should work.

The pull requests only introduces a toast with more information. In the long-term, a better logging solution has to be used (see above).

[2016-10-19 18:51] stefan-niedermann commented on #125
The installation issue could be caused by f-droud signing. try delete the old app (no data should be lost) first please.

[2016-10-19 18:52] stefan-niedermann commented on #125
About logging, yeah, i agree. maybe there is some kind of standard solution for android, let's google it ;-)

[2016-10-22 08:27] korelstar commented on #125
Nevertheless, I suggest to merge #145 until a better solution is found. The next user with problems will come for sure :wink:

[2016-10-24 10:25] #3 closed

[2016-10-24 10:25] #39 closed

[2016-10-25 11:36] korelstar commented on #92
I've implemented the star/unstar feature in the server app (owncloud/notes#248) and the corresponding api is also ready in the near future (nextcloud/notes#4). Hence, we can begin with the implementation of the star/unstar feature in this android app, soon.

However, synchronization of the star attribute will require a new version of the server app to be installed by the users. Hence, there will b

[2016-10-25 12:39] dasmaetthes commented on #132
FYI
[nextcloud/notes#6](https://github.com/nextcloud/notes/pull/6)

[2016-10-25 19:13] stefan-niedermann commented on #92
both options seem good for me - if someone uses an old server app he should update.
@korelstar if you want to implement this into the client, **feel free to do it** your way (i assume it's **the second way**). The implementation would be very similar, and why not providing the feature locally if it does not take much more effort than a simple if for now?
Of course we should consider to set a death

[2016-10-26 08:52] korelstar commented on #144
Ouch! I didn't know that this is that dangerous! I just found multiple notes under "deleted files" in my ownCloud, that I didn't want to delete. I didn't even notice that I delete these note, when I deleted them -- which was apparently due do the swipe action.

I wasn't ever a friend of this "swipe to delete/edit" thing. But without notification and undo feature, this is really bad. I definitely r

[2016-10-26 09:09] stefan-niedermann commented on #144
Well, i thought about it but i like this feature really ;) And notes are not *really* deleted since you can recover them from trashbin if you accidently hit one. At least in Google Play Store release notes i mentioned that there is no undo-function yet.
Do you have a clue how to implement an undo-button while swiping? If i knew it i would have implemented it of course yet.....

[2016-10-26 09:10] stefan-niedermann commented on #140
@avalx can you reference the correspondenting issue in owncloud/notes here please? so i can stay up to date for news wheter or not this is an issue in client.

[2016-10-26 09:31] stefan-niedermann opened #147 "Move from ownCloud to Nextcloud"
The server side app [moved to nextcloud](https://github.com/owncloud/notes/issues/235).
- [x] Adjust theme to match the lighter blue color set of nextcloud
- [x] Adjust icon
- [x] Refactore code from owncloud to nextcloud
- [x] Adjust README.md in this repository

And if we want to rename the repository itself, too:
- [x] Clone repository to /nextcloud-notes
- [x] Port all issues to the new reposi

[2016-10-26 09:33] stefan-niedermann commented on #135
v0.9.0 build on F-Droid has worked, so i will only change the lint settings.

[2016-10-26 09:37] stefan-niedermann commented on #61
@HeaDBanGer84 haven't heared from you for some time - is this still an issue you are actively working on?

[2016-10-26 09:38] stefan-niedermann commented on #42
Not reproducable at v0.9.0. I close it, feel free to reopen if you can still reproduce this behaviour.

[2016-10-26 09:38] #42 closed

[2016-10-26 09:44] stefan-niedermann commented on #127
Hm... i agree that 2. is indeed a useful behavior, while i disagree that the first solution make sense.
If you are switching to another server, you usually will copy all files, too. Since the notes are stored by the server app as normal files, they will move. Now you have to consider that the notes are getting new IDs what will cause all notes are being recreated with new IDs and all notes will be

[2016-10-26 11:35] korelstar commented on #147
I think, that's a political decision. For now, the app works with both "clouds" and we don't know what will happen with the "old" owncloud app (maybe all changes in the nextcloud notes app will be backported to owncloud, then this app will keep being compatible).

But if you want to rename this app and move it's repository, please note that you can rename the repository and github will make respec

[2016-10-26 11:42] korelstar commented on #144
I think the state of the art is using a "snackbar":
https://material.google.com/components/snackbars-toasts.html
https://developer.android.com/reference/android/support/design/widget/Snackbar.html

But I haven't implemented it yet.

[2016-10-26 12:45] korelstar commented on #127
Of course, (1.) was only intended for the case that the user has not copied his files to the new server. Maybe he/she is not able to do this, but wants to keep the existing notes.

If you really want to implement (2.) only (without the option for 1.), the user has to be asked or warned, that the notes are to be removed at the client.

`LOCAL_CREATED` is deprecated. The app automatically (re-)adds

[2016-10-26 12:51] korelstar commented on #92
I think, the second alternative would be easier to implement. The good thing is, that there is no need to distinct which version of the server app is used. The additional attribute `favorite` in the JSON will just be ignored by the server.

If I find some time, I can do the implementation. We'll see who will be the first ... :-)

[2016-10-27 07:33] avalx commented on #140
Here is the link for the issue: https://github.com/owncloud/notes/issues/246#issuecomment-253971684

[2016-10-28 07:17] HeaDBanGer84 commented on #61
Sorry, no spare time. I follow the Project actively and will do some work when i'm able to. All things i tried ended with some sort of wired sync issues. I havent look at the current code but saw that korelstar changed some things. Perhaps on Chrismas Holliday I con start again.

[2016-11-06 19:39] #92 closed

[2016-11-06 19:39] #118 closed

[2016-11-06 19:41] stefan-niedermann commented on #92
Tribute to @korelstar, he implemented the needed parts in this app (and as far as i know in the server app, too.).
Looking forward to use this new feature in v0.10.0 (will probably released after the next server-side-app release + some time for testing and bugfixing).

[2016-11-06 19:41] stefan-niedermann commented on #118
Tribute to @korelstar, should be fixed in v0.10.0 (will probably released after the next server-side-app release + some time for testing and bugfixing).

[2016-11-17 22:59] jancborchardt commented on #92
Awesome stuff @korelstar, great to have you in the community! :)

[2016-11-25 18:25] korelstar commented on #2
I've found an interesting library which supports inline rendering for `EditText` fields in Android: https://github.com/yydcdut/RxMarkdown

However, I didn't test it yet, so everybody is welcome to evaluate if the library fits our demands. It seems to be a rather new project.

[2016-11-25 18:40] korelstar commented on #73
The library [cert4android](https://gitlab.com/bitfireAT/cert4android) comes from the [DAVdroid](https://davdroid.bitfire.at/) project and seems to fit perfectly in this use case. Maybe, someone finds some time to integrate cert4android into the notes app?

[2016-12-06 15:34] am4c130d opened #152 "Unable to sync note if title changed"
I use a combination of OwnCloud-Notes on android and QOwnNotes on Linux and Windows with the OwnCloud Notes server.  In general, everything works really well.

I noted an issue where I'd created a document on QOwnNotes and then added the content using OwnCloud-Notes on Android.  The content would not sync, but all client instances saw the note title.  In trying to reproduce this, it appears that o

[2016-12-07 20:32] stefan-niedermann commented on #2
Great lib @korelstar! You may want to check out the branch `RxMarkdown`?
I switched from Bypass to RxMarkdown there but i am still facing two problems:
1. (I think its caused by the library) If you edit a note and switch to "preview" mode (eye icon), then select a word and touch anywhere instead of the back button and instead of an action (like copy or cut) -> app crashes
2. Not 100% reproducable

[2016-12-09 20:32] korelstar commented on #2
Yeah :tada:

In general it looks good. But I have some remarks on this:
- I didn't made a performance test on an old device, yet. But we don't want to re-introduce the old issue #39, hmm?
- I see some (design) issues in the layout of the preview (e.g. margin/padding to the left are bad for headings and the gray vertical line for block quotes). Do you see them, too (please compare with my screensho

[2016-12-10 08:33] stefan-niedermann commented on #2
I did neither. Could maybe be an issue, but i have no old device here to test, only virtual machines where everything works fluid. @korelstar are you able to test on a weak or old device?

I experience these issues, too. The gray vertical line for block quotes only hurts if you have a single very long line of text. Nevertheless i will write the author of RxMarkdown if he could adjust at least the

[2016-12-10 09:01] stefan-niedermann commented on #38
Just saw at current master this is already solved :smiley:

[2016-12-10 09:01] #38 closed

[2016-12-10 13:14] korelstar opened #154 "Improve user experience on slower devices"
I've tested the app on my old Samsung Galaxy Gio (from 2011) and found some bottlenecks: Especially,   loading the list of notes from the database and the synchronization are very slow.

## Loading the list of notes from the database
- [x] Introduce database index to speed up sorting
- [ ] Maybe it could be helpful to save the excerpt in a separate column (with index) and then do not load the full

[2016-12-10 13:14] korelstar commented on #2
I've tested it on my Samsung Galaxy Gio (from 2011). This device has a very slow memory card (in particular, writes are very slow). I've compared the Notes app in three variants: a) using RxMarkdown, b) using bypass, c) with no markdown-support (using the bypass version and remove all respective code fragments).

Interestingly, I can't see any notably difference.
- The start of the app is in all v

[2016-12-12 06:16] stefan-niedermann commented on #152
I will need some time to reproduce this bug since i don't use QOwnNotes. But since i only use the Server API i barely think this is an issue caused by the android client. Could you reproduce this bug with other sync clients, too or only with the android client?

[2016-12-12 06:20] stefan-niedermann opened #155 "Merge NoteActivity and EditNoteActivity"
These two Activities should be merged with the aim to use only one activity that is able to toggle between the EditView and the TextView.

Wanted behavior:

**Given** the user is in the EditNoteActivity
**When** the user clicks on the eye-icon
**Then** the EditView should be switched to the TextView
**And** the eye-icon should switch to the [eye-off-icon](https://materialdesignicons.com/icon/eye-o

[2016-12-12 06:25] stefan-niedermann opened #156 "ViewMode for CreateNoteActivity"
Depends on #155.
Wanted behavior:

The CreateNoteActivity should be able to display the Note without markdown just like the EditNoteActivity, too.

Solution 1: Use the same fragments (could cause duplicate code)
Solution 2: Merge CreateNoteActivity with EditNoteActivity

[2016-12-12 12:29] korelstar commented on #155
I thought about this, too. An additional way to switch between the two views could be swiping the fragment to the left/right. I also thought about using tabs, but this would consume much space.

[2016-12-12 14:51] am4c130d commented on #152
I tried to reproduce it with the built in Notes client in OwnCloud itself, as this is the only other client I have access to.  (Un)Fortunately, I am now unable to recreate the problem.  QOwnNote has been upgraded since I opened issue, and its possible that that was where the problem lay.

Again, sorry for erroneously filing an issue.

[2016-12-12 16:07] stefan-niedermann commented on #152
Absolutely no problem :-)

[2016-12-12 16:07] #152 closed

[2016-12-13 09:39] #66 closed

[2016-12-13 09:45] stefan-niedermann commented on #155
Hm, no Tabs (needs too much space as you recognized yourself). Swiping? I don't know, gestures are very hard to discover and could be triggered accidentely. So *maybe* additional, but the primary way should be the eye/eye-off-icon.

[2016-12-13 18:51] korelstar commented on #155
No problem. These were just some thoughts of mine.

[2016-12-14 14:49] stefan-niedermann commented on #140
@avalx i assume this [is fixed](https://github.com/pbek/QOwnNotes/issues/408#issuecomment-265678666)?

[2016-12-14 15:11] avalx commented on #140
No, this is still a problem. The only thing that was fixed was that particular issue for QOwnNotes (#408). I'm sorry for confusion :(.

[2016-12-14 15:54] korelstar commented on #140
I think this is a server-app issue and I provided a patch: nextcloud/notes#31
Please test it and give feedback if this issue still exists.

[2016-12-14 15:57] avalx commented on #140
Sorry, I'm not sure how to test this. Could you please provide some instructions?

[2016-12-14 16:02] korelstar commented on #140
Just change one line in file `apps/notes/service/notesservice.php` of your ownCloud/Nextcloud installation:
from `$splitContent = explode("\n", $content);`
to `$splitContent = preg_split("/\R/", $content, 2);`
In the current release 2.1.0 of the notes app this is line 126, in the older version 2.0.2, this is line 106.

Then try to synchronize a note with windows line-breaks.

[2016-12-14 16:11] avalx commented on #140
OK, I did this and it looks like it's working as expected now. Thansk for the fix.
But I still get an error in the log file on the server:
`Error	notes	OCA\Notes\Db\Note Object ( [modified] => 1481731704 [title] => TTTT [content] => TTTT
 ===========

 123
 124

 - a
 - b - c Abcfkkgk fkkffk fkfkkkf kfkgkkf Fkkfjfjg [id] => 1953 [_updatedFields:OCP\AppFramework\Db\Entity:private] => Array ( ) [_fi

[2016-12-14 16:14] korelstar commented on #140
Hmmm. Is this really the full log entry? This looks just like the dump of the notes object without any error message (besides the word "Error").

[2016-12-14 16:19] avalx commented on #140
Well, that was from the Log reader app, so here is the same thing from the downloaded log file (on the Admin page - also noted as Error??!!):

`{"reqId":"WFFueH4RyqO7hxkcQlO7awAAAAE","remoteAddr":"10.55.66.116","app":"notes","message":"OCA\\Notes\\Db\\Note Object\n(\n    [modified] => 1481731704\n    [title] => TTTT\n    [content] => TTTT\r\n===========\r\n\r\n\r\n123\r\n124\r\n\r\n\r\n- a\r\n- b\

[2016-12-14 18:19] korelstar commented on #140
That's strange. I can't find anything in the code which [could cause](https://docs.nextcloud.com/server/10/developer_manual/app/logging.html) this log entry. If not done yet, please update to the latest release of the notes app (2.1.0) and create a new issue in [nextcloud/notes](https://github.com/nextcloud/notes) if there are still problems.

Since the original issue was fixed, I'm closing this i

[2016-12-14 18:19] #140 closed

[2016-12-15 12:40] avalx commented on #140
As suggested I manually updated to 2.1.0 and there are no more logs like this.

[2016-12-15 12:41] stefan-niedermann commented on #140
Happy to hear that :)

[2016-12-16 06:52] Offerel opened #157 "Support ToDo Checkboxes"
Hello, i think the Server doesn't support this at the Moment, but what i wish to have, is a CheckBox Feature for ToDo Lists. I mean the famous "Shopping-List" Feature like in Google Keep and other Systems. Nice to have feature.

[2016-12-16 07:23] stefan-niedermann commented on #157
Well there will be checkboxes in v0.10.0 but they are not clickable.
Since i am not reinventing the wheel, i build the app on top of [RxMarkdown](https://github.com/yydcdut/RxMarkdown) (v0.10.0 and higher) - So i am limited to the features that this library has built in.
I will open a feature request once v0.10.0 has been released.

[2016-12-21 13:01] korelstar commented on #155
Another thought: It is saved whether *edit mode* or *preview mode* was active the last time, and when a (another or the same) note is opened the next time, the Activity switches automatically to the respective state. I envision to save the last state globally, not per note. This would make it more comfortable, when I want to read notes the most time and edit them seldom.

What do you think about t

[2016-12-21 13:38] stefan-niedermann commented on #155
@jancborchardt said

Though i think saving the state would make sense. *If* we save the state, we should do it globally indeed. Either way we will do it the exact same way like the server-side notes app will do to decrease confusion.
So Saving the toggle state depends on https://github.com/nextcloud/notes/issues/23 and could even be handeled in a seperate issue.

[2016-12-21 14:19] korelstar commented on #155
It would be still the default, since for new users, the *edit mode* would be active. I don't know if @jancborchardt really meant that this applies to every *note opening*.

[2016-12-21 15:05] #144 closed

[2016-12-21 16:35] #147 closed

[2016-12-21 16:36] stefan-niedermann commented on #147
Links are already adjusted and the only remaining task is new artwork, colors, icons and text in the Play Store - but this has nothing to do with this project in general.

[2016-12-21 18:26] dalb8 opened #160 "Maximum size of note"
I have 0.9.0 from f-droid.org. When I pasted a largeish text in a new note the end was truncated. The way I found out was that I was unable to add text to note.

[2016-12-21 18:37] stefan-niedermann commented on #160
Hey @dalb8, how many characters does your text have? Have you tried it via the web interface? I did not explicit limit the size of a note, so maybe the API is truncating it?

cc @Henni

[2016-12-21 22:28] dalb8 commented on #160
I can't say exactly, a few thousand. I've noticed that another text editor (Turbo) has the same problem so it could just be an issue with the ROM which is stock LG G4 running Android 6.0. Feel free to close.

[2016-12-22 11:43] #160 closed

[2016-12-22 11:43] stefan-niedermann commented on #160
Feel free to reopen when the issue appears on other system in combination with Nextcloud Notes again ;)

[2016-12-26 17:27] stefan-niedermann commented on #155
Some christmas thoughts about how this could be implemented without a performance killer.
I thought we could add one `RxMDTextView` next to the `RxMDEditText` into the `activity_edit.xml`. Then we would have to implement a show/hide toggle mechanism. Problem: When user opens a note and everything runs in the main thread (and TextView *and* EditText are initialized) this could cause a weak performa

[2017-01-10 09:58] minimeee opened #161 "Prevent editing of unsynchronized notes"
I like the app, but I recently found a problem that can cause loss of content. How to reproduce:

1. Modify an existing note using the web interface (e.g. add or remove a line)
2. Start the app and immediately start to edit the same note (before synchronization has been finished)
3. Close the note on the app (using the "back" button)

Result: the changes made to the note using the web interface ar

[2017-01-10 14:57] korelstar commented on #161
Thanks for reporting this issue, this is really a problem which should be solved. The problem also occurs in another scenario:

1. Open a note for editing using the Android app.
2. Modify this note on another device (e.g. using the Nextcloud Notes app or using another mobile device with this app; in practice, this could be done by another person when using shared notes).
3. Modify and save the not

[2017-01-10 16:18] minimeee commented on #161
Thanks for your response and explanation!

Actually I also thought about the possibility of merging the local and remote changes, but imo that would be very hard to implement because the notes app (if I understand correctly) changes the notes directly. Imho, in order to implement a reliable merge operation, you'd need **all** clients (and that includes the web interface) to make local / intermedia

[2017-01-10 20:17] rfc2822 commented on #161
Does "Client wins" mean that if there are two clients which make changes at the same time, there will be an endless fighting loop?

[2017-01-11 04:47] stefan-niedermann commented on #161
"Client wins" means "The last one who writes, wins".

Waiting for whole sync is not acceptable for the reasons @korelstar mentioned.
"User decides"-strategy would be possible but requires another server roundtrip.

Assuming network connection is available:
1. User edits something on the client
2. Request the edited note from server to get the last modified date (maybe another api that *only* retur

[2017-01-11 09:07] minimeee commented on #161
That's one way to look at it. For me, it's perfectly acceptable to wait a few seconds but it's **not** acceptable to lose my data. And just to be clear: I'm talking only about the note that is opened for editing. Only that note needs to by synchronized asap, the others can be synchronized in the background (you can't edit multiple notes on the same device at the same time anyway).

@korelstar only

[2017-01-11 13:53] korelstar commented on #161
I agree that we have to optimize (speed up) the synchronization. I've already created an issue for that (#154). Details on realizing the optimization should be discussed there.

But apart from optimizing the synchronization, I think we should still have a synchronization of all notes when the notes app is opened resp. the main activity is called. Hence, typically, the notes should be up-to-date wh

[2017-01-12 09:48] minimeee commented on #161
Thanks for sharing your ideas!

I agree. I never meant to change that. But it should also be possible to synchronize a single note, i. e. there could be a function "synchronize(note X)" that can be called if a user opens a note that has not been synchronized yet. It should than be processes with max. priority.

You're right, but nonetheless I managed to trigger this problem within the first week a

[2017-01-16 10:06] korelstar commented on #161
Instead of going into all details, we should concentrate on the real goal: avoid concurrent writes on the same note and provide the most current state of a note for reading.

You are requesting this workflow for opening a note:

1. List of notes is shown
2. Click on a note
3. Show a progress bar
4. Start synchronization for that note
5. Wait for synchronization has finished
6. Show the note in it'

[2017-01-16 15:22] minimeee commented on #161
It's correct! Of course, the progress bar would only have to be shown if the note has not yet been updated (which gets more unlikely, as soon as performance is improved).

I like the workflow / mockup you proposed, because it provides valuable feedback to the user and reduces the risk of making conflicting changes. It does not actually prevent them, but I could live with that ;-)

Comparing notes

[2017-01-16 21:19] stefan-niedermann commented on #161
@korelstar thanks for this proposal. i think its really good compromise.

Only one thing that grinds my gears: The progress bar (Mockup 1) with the notice will show up every single time i open a note, right?

I think this is way to often since in 99% there will be no conflicts. So we should work out a way to show this progress bar and the message as less as possible.
Maybe show the progress bar wi

[2017-01-17 15:46] minimeee commented on #161
I thought it would only be shown if the note has not been synchronized since the user started the app...

[2017-01-17 16:16] livier opened #162 "Hide password in settings until changed"
I realised that when I came back to setup page (Paramètres in french)  I can click on the Eye symbol and see my nextcloud password.
No much people have access to my device, but I don't like they should have access so easily to my clear passwd.
Should the connexion be provide by nextcloud account when available. Not sure android is very secure, but a bit less easy to access I hope.

[2017-01-18 15:04] korelstar commented on #161
@minimeee

I'm still thinking, that this is an important thing. But since it's much harder to implement, we should concentrate on the first step -- for now. But if someone wants to implement it: pull requests are very welcome (I think -- I'm not the owner of this :wink: ).

@stefan-niedermann

Yes, could be annoying. I think we have to try out, how it behaves in practice. I hope that we'll never s

[2017-01-18 15:06] korelstar commented on #162
Interesting aspect. We could empty the password field and only update the saved password if a new one was entered.

[2017-01-18 18:21] korelstar commented on #14
Currently, there are still rather few languages available for this app and for many strings the translations are missing. Therefore, Transifex is still an interesting approach in order to improve this situation. It would be cool, if the @nextcloud-bot would take care of this repository, too. In that case, strings are automatically provided to Transifex and translation are automatically imported ba

[2017-01-18 19:45] jancborchardt commented on #14
cc @MorrisJobke @LukasReschke about the Transifex configuration ^ :)

[2017-01-18 21:04] MorrisJobke commented on #14
somebody === me ;)

[2017-01-18 21:17] MorrisJobke commented on #14
@stefan-niedermann Could you add @nextcloud-bot as contributor? Is it then allowed to directly push to master (protected branches need to be disabled or there needs to be an exception for admins and nextcloud-bot added as admin).

[2017-01-18 23:02] anonimou0 commented on #73
+1 =)

[2017-01-19 00:36] sedrubal commented on #73
I changed my mind: Cert4android might be a good choice but in times of letsencrypt this is nice 2 have but a less important issue, I think ;)

[2017-01-19 00:48] anonimou0 commented on #73
@sedrubal , my ISP blocks port 80 and 443.. so, yeah, that's kind a deal breaker for me as i cant get a letsencrypt certificate

[2017-01-19 08:16] stefan-niedermann commented on #162
Jup, thought about android handles wlan settings.

(In english it says: Not changed... until you enter another password)

![tmp_5265-img_20170119_091543-1645855574](https://cloud.githubusercontent.com/assets/4741199/22098667/eb384bf2-de27-11e6-86d0-908756effe07.jpg)

[2017-01-19 08:34] stefan-niedermann commented on #14
Well, i would be fine with moving the repository to nextcloud :) I have no idea  who is allowed to make this decision @jancborchardt @MorrisJobke.

But before moving i would like to release v0.10.0 which will contain many improvements like inline editing and nextcloud theme colors.

[2017-01-19 09:26] YohannLYD opened #163 "Client not syncing since upgrade of server app to v2.2.0"
I noticed that the client isn't able to login/synchronize my notes since I upgraded the note app on my nextcloud server.
I get a "URL/Server has errors" message but I am 100% sure my credentials are correct.

Is anyone currently experiencing it too ?

Nextcloud Server : 11.0.0
Notes : 2.2.0 (recently upgraded)
Nextcloud-notes : 0.9.0

[2017-01-19 09:58] stefan-niedermann commented on #163
I haven't noticed any problem yet (same setup). Can you clear android app cache and data and try it again please?

[2017-01-19 10:16] stefan-niedermann opened #165 "Support Categories"
Since the server is able to handle categories (v2.2.0), the android client should be able to deal with this, too.
- Extend database, DTOs, etc.
- Extend user interface: thought about a swipeable sidebar on the left side like the android news app

[2017-01-19 10:52] YohannLYD commented on #163
I found the solution. Actually there were some permission issues with the Notes folder in which all the notes are stored as text files.
It can be fixed by removing the folder (after a backup of the notes) so the server/app recreates a proper one. Then the files can be restored in the folder.

Everything is fine !

[2017-01-19 10:52] #163 closed

[2017-01-19 12:12] korelstar commented on #165
Yes, but the categories on the server-side are quite rudimentary: you can't change them in the app (only if you move a note's file in a sub-directory) and they are not shown yet. Nevertheless, the API already delivers the information, but changes are not possible.

Therefore, currently we can only *show* the categories in this app. But of course, this would be nice :-)

Since I had to change the d

[2017-01-19 13:05] stefan-niedermann commented on #165
Yeah, this was more a note for me and [everyone who is waitin for this feature](https://play.google.com/store/apps/details?id=it.niedermann.owncloud.notes&reviewId=Z3A6QU9xcFRPSEJfSlFEQ3VmZUNBU3puTV9oOG9qa1NwWFZjRWFJUlVkbzFyazR3UlpPWTczb08zaHloR2FPSDJWaXJaT1pxa1RrVHlsMXNLOGlMVi1ORmc). I already noticed, that it is currently impossible to edit the categories via the webinterface.

Sure, if we intro

[2017-01-19 18:36] MorrisJobke commented on #14
Fine by me, but for the transifex integration it doesn't make a difference (beside that I would have the admin rights to set it up from a permission point of view)

[2017-01-20 08:27] stefan-niedermann commented on #14
Done :)

[2017-01-20 08:33] korelstar opened #166 "Type of database column MODIFIED"
Currently, the `modified` column in the database is of type `TEXT` (using the format `yyyy-MM-dd HH:mm:ss`). Is there a reason for that? In my view, it should be of type `INTEGER` (using the unix epoch), since this should require less space, sorting should be faster etc. But maybe, I've overseen something.

[2017-01-20 08:44] stefan-niedermann commented on #166
No reason, we can switch to unix timestamps, but if you want to implement it, think about the update method of the app, so older clients are migrating it correctly. We will have to test it well.

[2017-01-20 08:47] stefan-niedermann commented on #126
I have currently no plans to move from the notes API to the WebDAV API, sorry.
Reason: The notes API does and will provide more and more features like categories which can not all be handled via WebDAV.

Though pull requests or hints how to solve the problem with self signed certs are very welcome and when i have more time, i will ask some devs of the nextcloud app how they are doing it.

[2017-01-20 08:47] #126 closed

[2017-01-20 08:49] stefan-niedermann commented on #135
Closing in favor of #14 - Use @nextcloud-bot with transifex.

[2017-01-20 08:49] #135 closed

[2017-01-20 08:50] stefan-niedermann commented on #2
Feature is in `master`-branch and will be released soon. I am very hopeful that the new RxMarkdown lib is better maintained than bypass.

[2017-01-20 08:50] #2 closed

[2017-01-20 08:55] stefan-niedermann commented on #61
I am closing this issue for now. Feel free to reopen it when you have enough spare time to start work on it again :)
Regards

[2017-01-20 08:55] #61 closed

[2017-01-20 08:58] stefan-niedermann commented on #157
RxMarkdown is tracking this feature for edit mode: https://github.com/yydcdut/RxMarkdown#editfactory

I am closing this issue because it is basically a feature that is needed to be implemented by RxMarkdown itself.

btw: @Offerel the new markdown lib is merged to master and will be released for F-Droid in a few days. Would be glad if you could update and test it :)

[2017-01-20 08:58] #157 closed

[2017-01-20 16:29] MorrisJobke commented on #14
now I need to know where you put the original strings and where I should put the translations. Maybe have at our android app and how it is handled there:

- the english version (we use as translation source) is in `res/values`: https://github.com/nextcloud/android/tree/master/res/values
- all translations are in `res/values-LANGUAGE_CODE`: french for example in `res/values-fr` https://github.com/n

[2017-01-20 17:17] stefan-niedermann commented on #14
We use the same schema: `res/values` and `res/values-LANGUAGE_CODE`, e. g. the english version is here: https://github.com/stefan-niedermann/nextcloud-notes/blob/master/app/src/main/res/values/strings.xml
Please note that we have besides the `strings.xml` file a `plurals.xml`-file (one for each language), e. g. the english version: https://github.com/stefan-niedermann/nextcloud-notes/blob/master/a

[2017-01-20 19:43] avalx opened #168 "Server connection is brokern"
I've just upgraded my phone (Oneplus 3) from Oxygen OS 3.2.8. (Android 6.x) to the latest Oxygen  OS 4.0.2 (android 7.0) and the app stopped working. I get an error message: "Synchronization failed: server connection is broken." I tried and removed the app and installed it again but get the same error. It was working without problems under OOS 3.2.8.

The Nexcloud app is working without a problem

[2017-01-20 21:02] stefan-niedermann commented on #168
Are you using a self signed cert? If so: Have you imported your self signed cert into android keystore?

[2017-01-20 21:07] avalx commented on #168
Yes to both questions. I can see the cert in the Trusted credentials store under USER certificates. I imported it with CAdroid app.

And as mentioned the Nextcloud app is working OK - it did ask me to trust the cert the first time  ran it.

[2017-01-20 23:57] MorrisJobke commented on #14
Let me see how I can integrate both :) Thanks

[2017-01-21 10:22] korelstar opened #169 "Swipe to delete: add leave-behind to indicate action"
I'm not getting warm with the *swipe to delete* functionality. It's nice if you are often deleting many items. But does this apply to notes?

However, if this functionality has to keep there, a *[leave-behind](https://material.io/guidelines/components/lists-controls.html)* should be added:

Edit: some hints for the technical realization:
http://stackoverflow.com/questions/32227482/recyclerview-swi

[2017-01-23 06:09] MorrisJobke commented on #14
Tested and works - runs now everyday at roughly 2 am (UTC+1) https://github.com/stefan-niedermann/nextcloud-notes/commit/16796eadf6eef8e20686bbb396bcb3ddfe5e90d7

(I copied the de to de_DE too - don't know if this matters, but just in case).

[2017-01-23 06:10] #14 closed

[2017-01-23 13:43] jkalousek opened #171 "Multiple NC Servers"
Hi, is there any chance that you could add support for Multiple NextCloud Servers?

We are using NextCloud in our company, but I'm also using NextCloud at home and it would be nice to be able to switch between them.

[2017-01-23 14:54] korelstar commented on #171
Thought about that, too. That shouldn't be that difficult. For switching between accounts, one could use the planned navigation sidebar (see #165) like in the Nextcloud Android app. One had to decide whether only the current active account should be synchronized or all accounts together.

However, I have currently no time for implementing this. Other things are more important for me. But I like th

[2017-01-23 16:29] jkalousek commented on #171
Yes, navigation sidebar is sort of standard in android Apps (in my opinion). I would suggest that there could be option for synchronization in each server's setting (synchronize with other/global or manual).

[2017-01-23 20:06] stefan-niedermann commented on #171
Agree this would be a useful feature. As @korelstar mentioned, the correct place would be the sidebar. Once it has been introduced, the support for multiple accounts can be added.
Please be patient and don't expect this feature soon, i have no much spare time, too.

[2017-01-24 13:21] jancborchardt commented on #161
I didn’t read the whole thread because wow is it long. But the simple fact it suggests »prevent editing« is wrong. ;) People should never be prevented from editing.

Offline should not be an error state because it isn’t. Offline is just something you sometimes are, like on the train, or in a plane, or with bad connection, etc. It needs to properly be worked into the app, rather than treated like a

[2017-01-24 16:06] joephein opened #173 "Nested numbered list levels and combined list types do not work"
### Expected behavior
Android app shows combined list types identical as in the Nextcloud web UI.
At the same time there seems to be no support for nested numbered list levels but this might be a feature request for the Nextcloud app and not for this android app.

### Actual behavior
Combined list types (numbered and bullet-ed list types) are numbered according to first list type.
So if the list i

[2017-01-25 15:52] avalx commented on #168
Just to add info that the MyOwnNotes application is working well - even with my Nextcloud server.

[2017-01-27 15:27] marco-bien commented on #165
+1 for your roadmap! Thanks.

[2017-01-28 08:41] gsantner opened #174 "Allow to share into exiting note"
Please allow to share into (=append) a existing  note.
I sometimes select multiple text parts to remember, or want to temporary save an url, which always creates a seperate Note. But it would be great if I had the option to just append to an other (or the last created) note.
This would save a lot of time, because I don't need to merge everything anymore.

[2017-02-05 19:47] korelstar opened #175 "Some issues on translations/Transifex"
- [x] In some languages (e.g. `es`), quotes in hyperlinks are escapes with backslashes which breaks the build: e.g., https://github.com/stefan-niedermann/nextcloud-notes/blob/3647ec3c3524ce409bc51e61113c53b215e38d5b/app/src/main/res/values-es/strings.xml#L77 -- However, I don't know where this comes from. Maybe we have to use `&lt;` instead of `<` for HTML tags inside of a string, but that's only

[2017-02-06 07:58] stefan-niedermann commented on #175
8. `Contribute`-tab should get a new section "Translate"

[2017-02-06 13:55] mejo- opened #176 "Use .md as filename extension for new notes"
Please change the filename extension for new notes from `.txt` to `.md`. This is the correct filename extension for markdown files. It also helps text editors to choose the right syntax highlighting.

[2017-02-06 14:51] stefan-niedermann commented on #176
There is a correspondenting issue in the server part (https://github.com/nextcloud/notes/issues). This app only uses the API and is therefore not able to set *any* extension itself at all.

[2017-02-06 14:51] #176 closed

[2017-02-11 11:08] lilicoding opened #177 "API Compatibility Issues"
Dear developers,

We have recently developed a state-of-the-art static analysis tool for uncovering API compatibility issues in Android apps. Applying this tool to open source apps on F-droid, we have exposed a few instances of compatibility issues and submitting them to development teams for a fix.

For your app, we have found that this project has accessed the following APIs which are available

[2017-02-11 13:07] korelstar commented on #177
That's from the `AllNotesWidget`. Indeed, this is currently unreachable code. But I agree, that we should do something, here.

@stefan-niedermann What are your plans belonging the widgets? I have no demand for this, therefore I will not contribute in this part :stuck_out_tongue_winking_eye: (there are other things which are more important).

@lilicoding Does "NONE" means, that we have not any forw

[2017-02-11 13:47] stefan-niedermann commented on #177
hehe, widgets are planned (one for all notes and one for a single note) but with low priority as i do not need those, too. I think when i finally have time to code there, i will throw away the code and start from scratch.

[2017-02-12 09:00] korelstar commented on #177
Okay, then let's throw away the code, now. It makes only more work for us when we are refactoring something etc.

[2017-02-12 11:53] stefan-niedermann commented on #177
Aggree

[2017-02-22 16:43] korelstar commented on #175
Unfortunately, Transifex prevents us from using the `xliff:g` tags: Transifex adds backslashes also to the quote signs from the attribute value of the tag. This is wrong, because here, the `<` must not be escaped (it belongs to an XML tag of the resource file and not to the content of the string). Too bad, since `xliff:g` is a nice approach.

[2017-02-23 20:05] splitt3r commented on #173
Also ### dies work in web but not in the APP.

[2017-02-24 17:03] marlemion opened #179 "Cannot login to nextcloud"
I have nextcloud 11.0.0.1 running (on arch) using nextcloud notes:

https://github.com/nextcloud/notes

Downloaded the app from f-droid and tried to logon to my (https) server. Certificates are managed via letsencrypt and are working fine using the browser or other apps.

The app does not connect throwing 'Login fehlgeschlagen: URL/Server fehlerhaft'.

Reproducible: always, OS: Cyanogenmod 13.0 (A

[2017-02-26 17:36] #175 closed

[2017-03-03 17:51] stefan-niedermann commented on #179
Okay, that's strange. Can you set up a test account for me and mail me the information to my private email address?

[2017-03-03 17:55] stefan-niedermann commented on #173
Yeah, see, there are some issues with this:

1.) The markdown interpreter is not coded by us.
2.) The screenshot is from v0.8.0
3.) We switched in current master from `ByPass` to [`RxMarkdown`](https://github.com/yydcdut/RxMarkdown/issues)

So the behavior will change in the **next released version**. If *then* something does not work like expected, feel free to open issues on upstream.

[2017-03-03 17:55] #173 closed

[2017-03-03 19:30] #177 closed

[2017-03-03 19:33] #169 closed

[2017-03-05 10:14] xraMsamohT commented on #179
It is not a problem with the Let´s Encrypt certificate. It is a problem with the Nextcloud Notes app and the user, imho.

@marlemion Do you use 2FA with the TOTP app? How many notes do you have? One single folder oder with sub-folders?

[2017-03-06 14:25] dejj opened #189 "Zoom / make font size adjustable"
I have a document with manual line-breaks, to make lines match with the source document.
I edit the document on my tablet, and read it on my phone, with different resolutions.
2-3 words of every line get wrapped over to the next line. This makes reading uncomfortable.

Can you add a method to adjust the font size in the app?

[2017-03-06 22:16] borghal opened #190 "Render markdown tables"
It would be great if the app could render a simple markdown table like this
| name            | address                  | phone      |
|-----------------|--------------------------|------------|
| John Adams      | 1600 Pennsylvania Avenue | 0123456789 |
|-----------------|--------------------------|------------|
| Sherlock Holmes | 221B Baker Street        | 0987654321 |
|-----------------|-----

[2017-03-06 22:20] borghal commented on #190
Ah, sorry, just found out that RxMarkdown doesn't do tables. So there's nothing you can do, I guess.
My bad.

[2017-03-07 11:48] stefan-niedermann commented on #190
You are right, but it seems like RxMarkdown has it already on its roadmap. So maybe we will see this feature in a future release - otherwise you can of course [open an issue at upstream](https://github.com/yydcdut/RxMarkdown/issues). :)

[2017-03-07 11:48] #190 closed

[2017-03-11 08:02] codejp3 commented on #179
Verifying same issue.

Rooted Galaxy S5, variation of CyanogenModROM called BlissPop.

I'm using a self-signed cert which I believe to be issue. The cert is generated for the private LAN and used by several LAN users and the public facing domainname.tld IP address. It works just fine with DavDroid, NextCloudSMS, the NextCloud default App, through browsers, and so on. This app is the first one I've

[2017-03-11 08:07] cwmke commented on #92
If alphabetical sorting eventually gets added I would just like to add that I find using the options 'A-Z' and 'Z-A' more useful than ascending and descending.

[2017-03-12 03:29] cptechnik commented on #168
Pse let it be easier to use self-signed certificates!
The main app nextcloud has not such problems with self-signed certificates!
And to import certificates to android I have to use the lockscreen, but I won't to use the lockscreen!
And the last news about SSL and certificates especially the Chinese one and their unacceptance from Firefox should be a rethinking of a too strikt using of certificate

[2017-03-12 08:41] codejp3 commented on #179
Just checking back in as promised.

Proper Certs took care of it. I also had to import the new cert to Android (CAdroid).

Beautiful app! Thank you for your time and effort!

[2017-03-15 09:55] avalx commented on #125
I have a similar problem as described in: https://github.com/stefan-niedermann/nextcloud-notes/issues/168

[2017-03-16 00:45] joefidler commented on #168
Getting error "Invalid Login: server connection is broken" with a Lets Encrypt certificate on the Nextcloud (11.0.2) site. The Nextcloud  file client app is able to connect fine after telling it to trust the site's certificate. I have tried with and without a certificate imported into Android (7.1.1) but it makes no difference either way. Very frustrating - want to try the Android Notes app but I

[2017-03-16 12:29] voxdemonix opened #191 "HTTPS problem with not trusted certif AND certif trusted for other domain"
Hello community.

Their is a problem with this application in [LAN](https://en.wikipedia.org/wiki/LAN) (IPv4).
I can connect easy in http (it's work) but not in httpS. The problem come from the certificate : not work with self signed and not work with certificate trusted but for other domain name.
In [WAN](https://en.wikipedia.org/wiki/Wide_Area_Network) it's work in https (certificate trusted onl

[2017-03-16 14:41] korelstar commented on #191
This is already on the agenda, see #73.

[2017-03-16 15:39] sdadoun opened #192 "edit any txt file not only notes"
Hello,
   Thanks a lot for this very convenient app.
Would it be possible/complex to edit any text file ?
It will require to add a file browser to move in sub-folders to select the file one wants to edit.
Thanks
Simon

[2017-03-17 12:36] stefan-niedermann commented on #192
Dear @sdadoun,

sorry, but this is not a goal of this app. main goal is to support the api of the notes app and provide a simple UI for this.
there are many file maanagers which allow to edit text files like oi filemanager, cm filemanager, ghost commander and hundrets others.

Sorry

[2017-03-17 12:36] #192 closed

[2017-03-18 08:54] bigbear42 commented on #168
Downloaded the app from Google today but did not get it to connect. I run Owncloud 9.1.4 with a "Lets Encrypt certificate". Smartphone runs Android 5.1. The ownNotes app connects without a problem.

[2017-03-18 09:00] stefan-niedermann commented on #168
Dear @bigbear42,

this app is a client for "ownCloud Notes" and **not** for "ownNotes". Therefor you will have to install the correct app on your server to get it work.

Regards

[2017-03-18 09:12] bigbear42 commented on #168
Ahhh, I see. Will give it a try than. Thank you.

Am 18.03.2017 um 10:00 schrieb Niedermann IT-Dienstleistungen:

[2017-03-20 15:28] stefan-niedermann commented on #189
Dear @dejj,

i understand your issue. Briefly: I thought about it and i will not add an option to adjust font-size for now.
**Simplicity is a major design goal** of the app and therefore i want to implement only settings which are really needed by most of the users.
The app currently uses the system font-size, is it possible to decrease system font-size for you?

I am sorry i don't have better new

[2017-03-20 15:28] #189 closed

[2017-03-20 15:29] stefan-niedermann commented on #179
@marlemion have you been able to solve this issue, too? Have you set up a test account like i described?

[2017-03-20 15:31] stefan-niedermann commented on #174
Would you expect that the note will stay open ready to edit after you shared or would you expect to close the notes app directly after selecting a note which the shared text will be appended to?

[2017-03-20 19:27] marlemion commented on #179
Hey. Sorry, I was completely absorbed by other (more important) things the last days. So I checked right now and it is working. Don't know what changed. Do you still want a test login?

[2017-03-20 19:55] gsantner commented on #174
To stay open - but the previous screens can be `finish()`ed, so a simple back button will go back to app used share into.

It could be also an setting/option:
* Default: Stay open after share into
* Other Opt: Instant go back

[2017-03-20 20:04] stefan-niedermann commented on #179
No, if everything is working, it's fine for me :) probably only a caching issue or so...

[2017-03-20 20:04] #179 closed

[2017-03-21 10:22] stefan-niedermann commented on #162
I don't have an eye-icon in the password field. Maybe this is manufacturer specific? What device are you using with what OS-version?

[2017-03-23 20:17] korelstar commented on #162
Strange. I had definitely the eye-icon, too. However, it's gone now. Unfortunately, I can't remember where I've seen the icon (emulator or real phone). Maybe, there was a change in a library we use (and I've updated them multiple times). But I think, we should nevertheless change the behavior as discussed above.

[2017-03-23 21:33] stefan-niedermann commented on #162
@korelstar i had just v0.9.0 installed and i can confirm that there was the eye symbol. i think one of the updated support libs is the reason...

([source](https://developer.android.com/topic/libraries/support-library/revisions.html))

I agree, but when there is no eye, no information except the length of the password is "leaked". Therefore this issue has no priority for me anymore. Though i accep

[2017-03-23 23:01] livier commented on #162
To answer the question :+1:
Note version 0.9.0
Android 4.0.4
device Samsung GT-S7560M
I know, all the device could semm to you a bit outdated
But for ecological, social, and money reasons, I prefer to keep it for  long tinme more If possible.

I do not know how to take the eye off, so the problem is still here for me.
Should accept a workarround if no correction is sheduled in a short time.
I'm li

[2017-03-24 06:54] stefan-niedermann commented on #162
@livier **The problem will be fixed for you in the next version** (v0.10.0).

This version is already tagged and will be available on F-Droid within the next view days.
If you are using the App from Google Play Store you will habe to be a bit more patient since i am doing a staged roll out there.

[2017-03-25 16:53] korelstar opened #196 "@nextcloud-bot is not able to push translations"
see https://github.com/stefan-niedermann/nextcloud-notes/pull/180#issuecomment-285417285:

[2017-03-25 20:08] stefan-niedermann commented on #196
cc @MorrisJobke

[2017-03-25 21:24] MorrisJobke commented on #196
Give him admin rights for this repo and I can do the rest.

[2017-03-25 21:24] MorrisJobke commented on #196
@nextcloud-bot is the account

[2017-03-27 10:59] stefan-niedermann opened #197 "Shortcuts for Android 7"
https://developer.android.com/guide/topics/ui/shortcuts.html#static

![device-2017-04-09-124450](https://cloud.githubusercontent.com/assets/4741199/24836692/9a439258-1d22-11e7-93ac-3a5016a68769.png)

Pull Request: https://github.com/stefan-niedermann/nextcloud-notes/pull/201

[2017-03-27 21:13] stefan-niedermann commented on #196
Yeah, it broke build, therefore it was not able to merge into master...
How can i give admin rights to it? It is already "contributor"

[2017-03-27 21:32] MorrisJobke commented on #196
Set it as admin:

![bildschirmfoto 2017-03-27 um 15 32 15](https://cloud.githubusercontent.com/assets/245432/24379057/9513112a-1302-11e7-8cbb-80d50d4d13c3.png)

[2017-03-28 05:11] korelstar commented on #196
Travis says: `.../res/values-sq/strings.xml:84:44: Error: The entity name must immediately follow the '&' in the entity reference.`
Can someone fix this in Transifex? I have only access to German there.

[2017-03-28 09:07] stefan-niedermann commented on #196
@MorrisJobke i think one can set this only in organizations.

![bildschirmfoto vom 2017-03-28 11-06-07](https://cloud.githubusercontent.com/assets/4741199/24397467/9e58d6b2-13a6-11e7-8040-fe1f5bc58638.png)

[2017-03-28 15:23] MorrisJobke commented on #196
Seems so :/

[2017-03-29 06:31] korelstar commented on #196
So none of you both (@MorrisJobke and @stefan-niedermann) changed something to fix this? Nevertheless, the bot recently was able to commit. Hence, the original problem is solved, for now (really without any intervention?).

Did you were able to see the error message I've posted above? I think this was the source of the problem: Travis blocked the commit because there is (again) a translation with

[2017-03-29 06:32] MorrisJobke commented on #196
Is this stuff like this: https://github.com/stefan-niedermann/nextcloud-notes/commit/32782abafd2de3b2799c52e8bc7881ad0ee00e8b#diff-73f9c9346c3c9b3ffd5a81532f1b1848R85 ?

[2017-03-29 07:00] korelstar commented on #196
The error was introduced in the first commit after the long outage: https://github.com/stefan-niedermann/nextcloud-notes/commit/b4590ba6f66bf362537ccd7792963617e0c9ee0d
It's in this line: https://github.com/stefan-niedermann/nextcloud-notes/blob/b4590ba6f66bf362537ccd7792963617e0c9ee0d/app/src/main/res/values-sq/strings.xml#L84

Travis wrote the following to his log, but I can see only the log for

[2017-03-29 07:06] MorrisJobke commented on #196
@korelstar I fixed it on transifex and triggered a new sync of transifex. Could you check if all is fine now?

[2017-03-29 07:22] stefan-niedermann commented on #196
It was me. i had a rule "only allow merge when travis build is successful" activated. then transifex stopped working. after you opemed this issue, i disabled the rule what allowed the bot to merge into master with a broken build.

[2017-03-29 07:24] MorrisJobke commented on #196
I can also push to a different branch if you want and you then just merge this branch from time to time ;) Then you could protect master again.

[2017-03-29 08:07] stefan-niedermann commented on #196
It's maybe the best solution. We only need up2date translations before we release a new version.
The target is to get a always buildable `master` - with transifex i never know if something comes that breaks the build.
contra is that we have to remember each release to merge the translation updates back to `master`.

@korelstar opinion?